<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.
        mustMatch="true" - to only proxy to sites listed, false to proxy to any site.
        logFile="<file with local path>" - if specified, events will be written to the log file.
-->
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
    <serverUrl url="http://yourserver/arcgis/"
        matchAll="true">
    </serverUrl>
    <serverUrl url="http://tasks.arcgisonline.com/" matchAll="true">
    </serverUrl>
    <serverUrl url="http://www.arcgis.com/sharing/rest/"
        matchAll="true">
    </serverUrl>
    <serverUrl url="http://geocode.arcgis.com/arcgis/rest/"
        matchAll="true">
    </serverUrl>
    <serverUrl url="http://route.arcgis.com/arcgis/rest/" matchAll="true"
        clientId=""
        clientSecret=""
        rateLimit="50"
        rateLimitPeriod="10">
    </serverUrl>
    <serverUrl url="https://api-ssl.bitly.com/v3/shorten"
      matchAll="true"
      accessToken="09392d98805bea10e1a1ad5c8fd206b43985c6c0"
      tokenParamName="access_token"
      rateLimit="50"
      rateLimitPeriod="10">
    </serverUrl>
  </serverUrls>
</ProxyConfig>

