{% extends 'page.html.twig' %}
{% block page_main %}
  <main role="main">
    <section class="main browse lex-slab lex-slab-grey" aria-labelledby="front-page-news-label">
      <div class="all-news">
        {{ page.title }}
      </div>
      {{ page.content }}
    </section>
  </main>
{% endblock %}
