<div class="js-form-item form-item js-form-type-select form-type-select js-form-item-field-lex-site-nav form-item-field-lex-site-nav">
  <label for="edit-field-lex-site-nav" class="js-form-required form-required">Content resources</label>
  <ol>
    <li>Remember to use plain language</li>
    <li>Use <a href="http://www.hemingwayapp.com/">Hemingway Editor</a> to keep content at an 8th grade reading level</li>
    <li><a href="https://lfucg.github.io/content-guide/">City of Lexington Content Guide</a></li>
  </ol>
</div>
