<footer role="contentinfo">
  <section class="lex-slab lex-slab-blue">
    <div class="lex-grid-full usa-grid">
      {{ page.footer_first }}
    </div>
  </section>
  {{ page.footer_second }}
  {{ page.footer_third }}
</footer>
