<section class="{{ section_class }}">
  <img class="img-fluid footer-seal" src="/themes/custom/lex/img/lexington-seal.png" alt="Lexington Seal">
  <div class="{{ wordmark_class }}">
    <ul>
      <li>&copy;
        {{ "now"|date("Y") }}
        Lexington-Fayette Urban County Government</li>
      <li>Lexington KY, Horse Capital of the World
        <sup>&#174;</sup>
      </li>
      <li>&nbsp;</li>
      <li>
        <a href="/terms-of-use">Terms of use</a>&nbsp;/&nbsp;
        <a href="/terms-of-use">Privacy</a>&nbsp;/&nbsp;
        <a href="/terms-of-use">Accessibility</a>
      </li>
    </ul>
  </div>
</section>

