body.path-frontpage
  main
    padding-top: 0
    padding-bottom: 0

  .lex-taxonomy-list

    >div
      vertical-align: top
      display: inline-block
      margin-right: 3%
      width: 30%

      @media (max-width: $screen-phablet-max)
        width: 45%

      @media (max-width: $screen-phone-max)
        width: auto

  .lex-taxonomy-list
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-start

    @media (max-width: $screen-phone-max)
      flex-direction: column nowrap

    >div
      display: block
      margin: 0

  // News & Events (Homepage)
  main
    > div > section:first-child h2
      margin-top: 0

    @media (max-width: $screen-phablet-max)
      flex-flow: column nowrap

      >div:first-child
        border: none

      >div:first-child, >div:last-child
        float: none
        width: 100%
        margin: 0

      section.lex-region-sidebar
        @include base_clear
        margin-top: 2em
        display: flex
        justify-content: space-between
        align-items: stretch

        >div
          float: left
          width: 47.5%
          margin-bottom: 0
          &:first-child
            margin-right: 5%

        @media (max-width: $screen-phone-max)
          flex-flow: column

          >div
            width: 100%

            &:first-child
              margin-right: 0


  // // Mayor and Urban Council area
  .lex-region-postscript
    @include base_padding
    &:before
      content: ''
      display: block
      border-top: 1px solid $color-secondary-2
      width: 100%
      height: 2em

    >div
      display: inline-block
      vertical-align: top

      &:first-child
        width: 65%
        margin-right: 5%

        .lex-image-teaser
          @include img_float_left

          img
            width: 33%
            height: auto

      @media (max-width: $screen-phablet-max)
        display: block
        width: 100%

  .lex-region-postscript
    display: flex
    justify-content: space-between
    align-items: stretch
    flex-flow: row wrap

    >div
      display: flex
      flex-flow: column nowrap

      &:first-child
        margin: 0
        width: 65%

      &:last-child
        width: 30%

      @media (max-width: $screen-tablet-max)
        &:first-child, &:last-child
          width: 47%
      @media (max-width: $screen-phablet-max)
        &:first-child, &:last-child
          width: auto

    @media (max-width: $screen-phablet-max)
      flex-direction: column

  ul.lex-city-gov-stat-block
    margin: 0

    @media (max-width: $screen-phablet-max)
      margin-top: 2em
      display: flex
      flex-flow: row wrap
      justify-content: space-between
      li
        margin-bottom: 1em
        width: 47.5%

    @media (max-width: $screen-phone-max)
      li
        text-align: center
      span
        float: none
        margin: 0 auto
        font-size: 10vw


  .lex-card img
    margin: 1em 0 1em auto !important
    max-width: 100%
    height: auto

  @media (max-width: $screen-phablet-max) and (min-width: $screen-phablet-min)
    .lex-hero
      margin-bottom: 14em // make space for most active links.

  /* iOS Safari only */
  section.lex-region-feedback
    margin-top: 8em
