body.maintenance-page
  background: #fff
  padding: 10% 2%
  > header
    display: none

  main
    display: block
    text-align: center

    &:before
      background: url(../img/lexington-logo.svg) center no-repeat
      background-size: 100% auto
      content: ''
      display: block
      width: 90vmin
      padding-top: 20%
      max-height: 20em
      max-width: 20em
      margin: 0 auto

