{% extends "block.html.twig" %}
{% set content %}
<ul class="lex-city-gov-stat-block">
  <li><a href="/browse/government/council"><span>&#xf19c;</span>Urban County Council</a></li>
  <li><a href="/code-of-ordinances-and-zoning-ordinance"><span>&#xf02d;</span>Laws and ordinances</a></li>
  <li><a href="/browse/government/departments"><span>98</span>City departments</a></li>
  <li><a href="/browse/government/boards-commissions"><span>87</span>Boards/commissions</a></li>
</ul>
{% endset %}