.card-button {
  background-color: color(white);
  border: 1px solid color(med-blue);
  color: color(med-blue);
  display: block !important;
  width: 250px;

  .button-heading {
    color: color(med-blue);
    font-size: 1.1em !important;
    margin: 10px 0 5px;
    min-height: 2.5em;

    @include lineclamp($lines: 2);
  }

  img {
    height: 190px;
    width: 100%;
  }

  .description {
    @include lineclamp($lines: 2);

    div {
      padding-bottom: 10px;
      display: block !important;

      p {
        min-height: 4.5em;

        @include lineclamp($lines: 3);
      }
    }
  }

  &:hover {
    background-color: color(yellow);
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55) !important;
    color: color(white);

    .button-heading {
      color: color(white);
    }
  }
}
