.card-button {
  background-color: color(white);
  box-shadow: 0 0 0 1px color(med-blue);
  color: color(med-blue);
  display: block !important;
  width: 225px;

  .button-heading {
    color: color(med-blue);
    margin: 10px 0 5px;
    min-height: 3em;

    @include lineclamp($lines: 2);

    @include screens-above(lg) {
      font-size: 20px !important;
    }
  }

  img {
    height: 171px;
    width: 100%;
  }

  .description {
    @include lineclamp($lines: 2);

    div {
      padding-bottom: 10px;
      display: block !important;

      p {
        min-height: 4.5em;

        @include lineclamp($lines: 3);
      }
    }
  }

  &:hover {
    background-color: color(yellow);
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55) !important;
    color: color(white);

    .button-heading {
      color: color(white);
    }
  }
}
