.contact-card {
    width: 265px;
    background-color: color(light-gray);
    text-align: left;
    display: inline-block;
    border-radius: 15px;


    .contact-img-container {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 20px auto 10px;
        overflow: hidden;
        display: block;
    }

    .contact-img {
        max-width: none;
        left: -40px;
        position: relative;
        display: inline-block;
    }

    .contact-heading {
        color: color(med-blue);
        font-size: 1.2rem;
        font-family: $font__open_sans;
        div{
            margin-left: 15px;
            width: fit-content;
        }
        @media (min-width: 1500px) {
            font-size: 20px;
        }

    }

    .contact-subheading {
        color: color(med-blue);
        font-size: 1rem;
        font-family: $font__roboto;
         div{
            margin-left: 15px;
            width: fit-content;
            min-height: 50px;
        }

        @media (min-width: 1500px) {
            font-size: 16px;
        }
    }

    .description {
        color: black;
        font-size: 0.75rem;
        font-family: $font__roboto;
        margin-bottom: 15px;
        margin-left: 15px;

        @media (min-width: 1500px) {
            font-size: 14px;
        }
    }

    .contact-footer {
        height: 35px;
        background-color: color(med-blue);
        width: 100%;
        margin-top: 10px;
        border-radius: 0 0 5px 5px;
    }

    .contact-card-link {
        width: 100%;
        &:hover {
            text-decoration: none !important;
            border-bottom: none !important;
        }
    }

    .footer-text {
        a {
            color: #ffff;
            font-size: 1rem;
            font-family: $font__roboto;
            margin-top: .4rem;
            display: block;
            margin-left: 30px;

            &:hover {
                text-decoration: none !important;
                border-bottom: none !important;
            }

            @media (min-width: 1500px) {
                font-size: 14px;
            }
        }
    }

    &:hover {
        background-color: color(med-blue);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55) !important;

        .contact-heading {
            color: color(white);
            font-size: 1.37rem;
            div {
                margin-left: 17px;
            }
            @media (min-width: 1500px) {
                font-size: 18px;
            }
        }

        .contact-subheading {
            color: color(white);
            font-size: 1.12rem;
            div {
                margin-left: 17px;
            }
            @media (min-width: 1500px) {
                font-size: 17px;
            }
        }

        .description {
            color: color(white);
            font-size: 0.875rem;
            margin-left: 17px;

            @media (min-width: 1500px) {
                font-size: 15px;
            }
        }

        .contact-footer {
            height: 40px;
            background-color: color(dark-blue);
        }

        .footer-text {
            a {
                color: color(yellow);
                font-size: 1.12rem;
                margin-left: 32px;

                 @media (min-width: 1500px) {
                    font-size: 17px;
                }
            }
        }
    }
}