.event-card {
  background-color: color(med-blue);
  color: color(white);
  float: left;
  height: 150px;
  margin: 10px 0;
  width: 100%;

  img {
    height: 25px;
    width: 35px;
  }

  .row {
    padding-top: 15px;
  }

  .button-heading {
    color: color(white);
    font-size: 20px;
    margin: 0 0 10px 0;
    @include lineclamp($lines: 2);

    +div {
      padding-top: 10px;

      &::after {
        height: 1px;
        display: block;
        width: 100%;
        background: white;
        content: '';
        position: absolute;
        top: 0;
      }
    }
  }

  .description {
    font-size: 18px;
    position: relative;
    @include lineclamp($lines: 2);
  }

  .button-icon {
    font-size: 1.4em;
    margin-left: 10px;
  }

  .event-time {
    display: block;
    font-size: 0.9em;
  }

  .footer-text {
    a {
      color: #ffff;
      font-size: 16px;
      font-family: $font__roboto;
      margin-top: 0.4em;
      display: block;
    }
  }

  &:hover {
    background-color: #e1b111;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55) !important;

    .button-icon {
      transform: scale(1.01);
    }
  }
}

.lex-event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;

  > a {
    width: 100%;
  }
}

.home-events-block,
.home-meetings-block {
  h2 {
    line-height: 1.2;
    font-size: 2em;
    color: #004585;
    margin: 0 0 5px 0;
  }

  .more-link {
    float: left !important;
    margin: 10px auto 10px 0;
    text-transform: capitalize !important;
    width: 200px;
    white-space: nowrap;

    a {
      padding: 0.5em;
    }
  }
}

.events-block {
  a {
    flex: 0 1 100%;


    @include screens-above(md) {
      flex: 0 1 calc(50% - 15px);
    }
  }
}

.meetings-block {
  a {
    flex: 0 1 100%;
  }

  .event-card {
    background-color: color(green);

    &:hover {
      background-color: color(yellow);
    }
  }
}