.news-container {
  margin: auto;
  min-height: 250px;
  position: relative;
  top: -40px;

  .front-news-header {
    color: #004585;
    font-size: 2em;
    line-height: 1.2;
    margin: 35px 0 25px 12px;
  }
}

.news-row {
  align-items: center;
  display: flex;
  min-height: 610px;

  @include screens-below(sm) {
    flex-wrap: nowrap;
    overflow: scroll;
    min-height: 0;
    background-image: linear-gradient(to right, white, white),
                      linear-gradient(to right, white, white),
                      linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
                      linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
    background-attachment: local, local, scroll, scroll;
  }
}

.news-card {
  background-color: #ffff;
  border: 1px solid #0558A7;
  color: #0558A7;
  position: relative;
  margin-bottom: 30px;
  width: auto;

  @include screens-below(lg) {
    width: 250px;
    margin: 16px 12px 16px 0;
  }
  
  img {
    height: auto;
    width: 100%;
  }

  .date-overlay {
    background-color: color(med-blue);
    opacity: 75%;
    position: absolute;
    top: 10%;
    max-width: 14ch;
    z-index: 100;
    
    @include screens-below(lg) {
      top: 0%;
    }

    .lex-card-fulldate {
      color: color(white);
      margin-bottom: 0 !important;
      padding: 0 10px;
    }
  }

  .heading-container {
    border-bottom: 1px solid color(med-blue);
    height: 75px;
  }

  .description-container {
    margin-top: 10px;

    @include screens-above(xxl) {
      font-size: 20px;
    }
  }

  .news-heading {
    color: #0558A7;
    font-family: $font__open_sans ;
    margin: 15px 0;

    @include lineclamp($lines: 2);
  }

  .contact-img-container {
    overflow: hidden;
    width: 100%;
  }

  .description-container {
    min-height: 90px;
    max-height: 120px;
  }

  .description {
    color: color(dark-gray);
    margin-bottom: 5px;

    @include lineclamp($lines: 3);
  }

  .news-footer {
    background-color: #0558A7;
    height: 35px;
    width: 100%;
  }

  .footer-text {
    color: #ffff;
    display: block;
    font-family: $font__roboto;
    font-size: 1em;
    padding: 5px 15px;
    text-align: right;
    width: 100%;

    @include screens-above(xxl) {
      font-size: 20px;
      padding-top: 2px;
    }

    &:hover {
      border-bottom: none !important;
      text-decoration: none !important;
    }
  }



  &:hover {
    background-color: #E1B111;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55) !important;
    color: #ffff;
    transition: all 0.2s;

    .heading-container {
      border-bottom: 1px solid color(white);
    }

    img {
      transform: scale(1.01);
    }

    .date-overlay {
      background-color: color(yellow) !important;
    }

    .news-heading {
      color: #ffff;
    }

    .description {
      color: #ffff;
    }

    .news-footer {
      background-color: color(dark-blue);
    }

    .footer-text {
      color: color(yellow);
    }
  }
}

.news-container,
#block-views-block-front-page-news-block-2 {
  .more-link {
    width: 100%;

    @include screens-below(sm) {
      margin-top: 20px;
    }

    a {
      margin: 0 auto;
      width: 250px;
    }
  }
}

.all-news {
  .row {
    max-width: 850px;

    a {
      margin-bottom: 30px;
    }
  }

}

.news-extended {
  width: 100%;
  margin-bottom: 0 !important;

  .date-overlay {
    color: color(white);
    width: 38% !important;
    padding: 5px;

    @include screens-below(sm) {
      width: 35% !important;
    }
  }

  .contact-img-container {
    height: 100%;

    img {
      height: 100%;

      @include screens-below(sm) {
        margin: 0 !important;
      }
    }
  }

  .heading-container,
  .description-container {
    margin-left: 1em !important;
    margin-right: 1em !important;
  }

  .description-container {
    margin-bottom: 5% !important;
  }

  &:hover {
    .news-footer {
      border-radius: 0 0 5px;
    }
  }
}

.extended-img-col {
  padding-left: 0;
  padding-right: 0;
}

.extended-content-col,
.extended-content {
  padding: 0 !important;
}


body.path-news {
  .views-exposed-form {
    @media (max-width: 1314px) {
      position: static !important;
    }
  }
}

.article-info,
.article-share {
  padding: 0 !important;

  .col-12 {
    padding: 0 !important;
  }
}

.byline-contact {
  font-size: 12px;
  margin-top: 15px;
}

.article-share {
  text-align: right;
}

.share-header {
  padding-right: 115px;
  text-transform: capitalize;
}

.article-row {
  margin-top: -1.5rem !important;
}
