<header id="site-banner" role="banner" class="{{ logged_in ? 'user-logged-in' }}">
  {% block page_header_nav %}
    {{ menu }}
  {% endblock %}
  <div class="row sticky-top" style="height: 80px;">
    <div class="col-6 col-lg-3 logo-container" style="height: 100%;">
      <a id="logo" href="/" accesskey="1" title="Home" aria-label="Home">
        <img class="" src="/themes/custom/lex/img/lexington-logo.svg" alt="City of Lexington, Kentucky, The Horse Capital of the World&reg;">
      </a>
    </div>
    <div class="navbar-button col-6 col-lg-9 text-right d-flex justify-content-end">
      {% if not is_front %}
        <div id="search-icon">
          <img class="" src="/themes/custom/lex/img/search_icon.svg">
          <div class="search-lines">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
          </div>
          {# <span class="menu-label">Search</span> #}
        </div>
      {% endif %}
      <div id="nav-icon">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="menu-label">Menu</span>
      </div>
      {# <div class="menu-label d-none d-lg-inline-block align-self-center">Menu</div> #}
    </div>
  </div>
</header>
{# TODO: Move navigation into this div. For now this is to demonstrate the show and hide functionality of the menu #}
<div class="fade"></div>
<div class="" id="takeoverNav">
  {{ drupal_view('taxonomy_top_level', 'block_3' )}}
</div>
