.imce-url-button {
  display: inline-block;
  margin: 1px 0;
}
.imce-url-button:before {
  content: '';
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 2px;
  background: url(images/browse.png) no-repeat 50% 50%;
}
