{%- for item in items -%}
  {% set item = item.attributes.addClass('lex-card') %}
{%- endfor -%}

{% if items|length == 0 %}
  {% set empty %}
    <h3>No results. <a href="{{ attributes.google_link }}">View Google search results instead?</a></h3>
  {% endset %}
{% endif %}

{% include "@stable/dataset/item-list.html.twig" %}

{% if items|length > 0 %}
  <h3>Still looking? <a href="{{ attributes.google_link }}">View Google search results</a></h3>
{% endif %}
