{% extends 'region.html.twig' %}
{% block region_content %}
  {% include "@lex/includes/lexington-copyright.html.twig"
    with {
      section_class: 'd-none col-lg-7 d-md-flex',
      wordmark_class: 'mt-2',
    }
  %}
  {{ parent() }}
  <nav>
    <h2>Get in touch</h2>
    <ul>
      <li>
        {% include "@lex/includes/address.html.twig" with {
            address: {
              'street_number': '200',
              'street': 'E. Main St.',
              'zip': '40507',
            }
          }
        %}
      </li>
      <li>
        {% include "@lex/includes/phone.html.twig" with { phone_number: "(859) 425-2255", dark_bg: true } %}
      </li>
      <li>
        <ul class="lex-social-links text-center">
          <li>
            <a href="https://www.facebook.com/LexingtonKyGov" class="dark-bg"><i class="lex-card-title lex-card-title-large lex-font-standout fa fa-facebook"></i><span class="visually-hidden">facebook</span></a>
          </li>
          <li>
            <a href="https://www.instagram.com/lexingtonkygov/" class="dark-bg"><i class="lex-card-title lex-card-title-large lex-font-standout fa fa-instagram"></i><span class="visually-hidden">instagram</span></a>
          </li>
          <li>
            <a href="https://twitter.com/LexingtonKyGov" class="dark-bg"><i class="lex-card-title lex-card-title-large lex-font-standout fa fa-twitter"></i><span class="visually-hidden">twitter</span></a>
          </li>
          <li>
            <a href="https://nextdoor.com/agency-detail/ky/lexington/lexington-fayette-urban-county-government-1/" class="dark-bg"><img class="lex-card-title lex-card-title-large lex-font-standout" src="{{ url('<front>') }}themes/custom/lex/img/social-icons/svg/nextdoor.svg" /><span class="visually-hidden">threads</span></a>
          </li>
          <li>
            <a href="https://www.threads.net/@lexingtonkygov" class="dark-bg"><img class="lex-card-title lex-card-title-large lex-font-standout" src="{{ url('<front>') }}themes/custom/lex/img/social-icons/svg/threads.svg" /><span class="visually-hidden">threads</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
{% endblock %}
