.lex-associations {
  margin-top: 0;

  li.lex-filter-item {
    margin-top: 0.5em;
  }
  dt {
    margin-top: 1em;
    font-weight: bold;
  }
  .lex-accordion-content {
    padding-top: 0;
    padding-bottom: 0;
  }
}

