.lex-alert {
  margin-top: 0;
  .lex-alert-heading {
    font-size: 2rem;
  }
  .usa-alert-body p {
    margin: 1em 0 0 0;
  }

  @include media($large-screen) {
    /* compensate for extra svg padding in WDS */
    max-width: $lex-max-width + 45px;
    margin: 0 auto;
    .usa-alert-body p {
      margin: .2em 0 0 0;
    }
  }
}

.lex-notice {
  padding-left: 3rem;
  border-left: 10px solid $lex-light-grey;
}
