.lex-browsenav {
  &.lex-grid-full {
    padding-bottom: $lex-section-gutter;
  }

  h1 {
    margin-bottom: .5em;
    @extend .lex-font-standout;
    @extend .lex-card-title.lex-card-title-heading;
    margin-top: 0;
  }
  a {
    @extend .lex-font;
  }
  a.lex-current {
    border: none;
    background: $lex-blue;
    color: white;
    font-weight: $font-weight-regular;
  }
  .lex-region-content.lex-grid-full {
    /* remove the normal padding */
    padding: 0;
  }
  .lex-browsenav-column-activetrail {
    // smaller screens use breadcrumb nav for previous levels
    display: none;
    @include media($large-screen) {
      display: block;
      .lex-browsenav-link a:after {
        right: 10px;
        float: right;
        content: "\203A";
      }
    }
    border-right: 3px solid $lex-grey;
  }
}

.lex-browsenav-list li {
  border-top: none;
}
.lex-browsenav-column {
  float: left;
}
.lex-browsenav-link {
  margin: 0;
}
.lex-browsenav-description {
  margin-top: 0;
}
.lex-browsenav-link a, .lex-browsenav-description {
  padding-left: 0;

  @include media($large-screen) {
    padding-left: 1rem;
  }
}
// lex-browsenav-column-activetrail => lex-browsenav-activetrail?
.lex-browsenav-collapse {
  margin-right: 15%;
  overflow: hidden;
}
.lex-browsenav-nofocus {
  a.lex-current {
    background: $lex-grey;
  }
}
.lex-browsenav-articles {
  margin-left: 0;
  @include media($large-screen) {
    margin-left: $lex-section-gutter;
  }
  .lex-card {
    margin-bottom: $lex-section-gutter * 0.7;
  }
}
