// also hard-coded in browse-columns.js
$tablet: 640px;
$desktop: 770px;

.browse-panes {
  &.section {
    #root {
      display: none; // hide on mobile

      @include media($tablet){
        display: block;
        float: right;
        width: 25%;
      }
    }
    #section {
      @include media($tablet){
        float: right;
        width: 30%;
        margin-right: 45%;
      }
      @include media($desktop){
        width: 35%;
        margin-right: 40%;
      }
    }
  }
  &.subsection {
    #root, #section {
      display: none; // hide on mobile

      @include media($tablet){
        display: block;
        float: right;
        width: 25%;
      }
    }
    #section {
      @include media($tablet){
        margin-left: -18%;
        width: 30%;
      }
      @include media($desktop){
        margin-left: -13%;
        width: 25%;
      }
    }
    #subsection {
      @include media($tablet){
        float: right;
        width: 50%;
        margin-right: 13%;
      }
    }
  }

  .pane-inner {
    @include media($tablet){
      border-left: 1px solid $lex-grey;
      min-height: 950px;
    }
    @include media($desktop){
      min-height:700px;
    }
  }
  #root {
    ul {
      margin-top: 0;
      width: 100%; /* may need for section too */
    }
    li {
      position: relative;
    }
  }

  #root, #section {
    a {
      padding: 8px 30px 8px 0;
      position: relative;
      display: block;
    }
    .active {
      a, a:hover, a:hover p {
        background: #005ea5;
        color: #fff;
      }
    }
    a.loading, a.loading:hover {
      cursor: default;
      background: transparent url(../img/loading.gif) 99% 50% no-repeat;
    }
    a.loading:after {
      content: "";
    }
    a:hover {
      background: #dee0e2;
      color: #005ea5;
      text-decoration: none;
      p {
        color: $lex-dark-grey;
      }
    }
    a:after {
      font-family: Arial, sans-serif;
      font-size: 1.7rem;
      position: absolute;
      top: 50%;
      margin-top: -14px;
      right: 10px;
      float: right;
      content: "\203A";
    }
    .sort-order {
      display: none;
    }
  }

  #section {
    z-index: 2;
    background: $lex-light-grey;
    position: relative;

    li {
      position: relative;
    }
  }

  &.section {
    #section {
      a h3 {
        @extend .lex-font-standout;
      }
      @include media($desktop){
        .pane-inner.alphabetical {
          /* hard-coded in browse-columns.js */
          padding-left: 96px;
        }
        .sort-order {
          font-size: 1.5em;
          float: left;
          display: block;
          width: 90px;
          margin-left: -90px;
          padding: 0 0 15px 22px;
          margin-top: 7px;
        }
      }
    }
  }

  #root, #section {
    @include media($tablet) {
      h1, a {
        padding-left: 15px;
      }
    }
  }

  #subsection {
    @include media($tablet) {
      .pane-inner {
        padding-left: 100px;
      }
    }

    .sort-order {
      display: none;
      @include media($tablet){
        font-size: 1.5em;
        display: block;
        float: left;
        width: 90px;
        margin-left: -100px;
        padding: 0 0 15px 22px;
      }
    }
  }

  #subsection {
    h1 {
      @extend .lex-card-title;
      @extend .lex-card-title-heading;
    }
    li {
      padding-bottom: $lex-section-half-gutter;
    }
    a {
      @extend .lex-font-standout;
      text-decoration: none;
    }
    a:hover {
      color: $lex-light-blue;
    }
  }
}
