// also hard-coded in browse-columns.js
$tablet: 640px;
$desktop: 770px;

.browse {
  .browse-panes {
    &.section {
      #root {
        display: none; // hide on mobile

        @include media($tablet){
          display: block;
          float: right;
          width: 20%;
        }
      }
      #section {
        @include media($tablet){
          float: right;
          width: 35%;
          margin-right: 45%;
        }
        @include media($desktop){
          width: 40%;
          margin-right: 40%;
        }
      }
    }
    &.subsection {
      #root, #section {
        display: none; // hide on mobile

        @include media($tablet){
          display: block;
          float: right;
          width: 25%;
        }
      }
      #section {
        @include media($tablet){
          margin-left: -18%;
          width: 30%;
        }
        @include media($desktop){
          margin-left: -13%;
          width: 25%;
        }
      }
      #subsection {
        @include media($tablet){
          float: right;
          width: 50%;
          margin-right: 13%;
        }
      }
    }

    .pane-inner {
      // padding-bottom: $gutter;

      @include media($tablet){
        border-left: 1px solid $lex-grey;
        min-height: 950px;
      }
      @include media($desktop){
        min-height:700px;
      }
    }
  }

  #root {
    ul {
      margin-top: 0;
      width: 100%; /* may need for section too */
    }
    li {
      position: relative;
    }
  }

  #root, #section {
    a {
      padding: 8px 30px 8px 15px;
      position: relative;
      display: block;
    }
    .active {
      a, a:hover, a:hover p {
        background: #005ea5;
        color: #fff;
      }
    }
    a.loading, a.loading:hover {
      cursor: default;
      background: transparent url(../img/loading.gif) 95% 50% no-repeat;
    }
    a.loading:after {
      content: "";
    }
    a:hover {
      background: #dee0e2;
      color: #005ea5;
      text-decoration: none;
      p {
        color: $lex-dark-grey;
      }
    }
    a:after {
      font-family: Arial, sans-serif;
      position: absolute;
      top: 50%;
      margin-top: -14px;
      right: 10px;
      float: right;
      content: "\203A";
    }
  }


  .section {
    #section {
      h3 {
        @extend .lex-font-standout;
      }
    }
  }

  #section {
    z-index: 2;
    background: $lex-light-grey;
    position: relative;
    h1 {
      padding-left: 15px; /* must match a padding-left */
    }
    li {
      position: relative;
    }
  }

  .pane-inner {
    border-left: 1px solid #bfc1c3;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(191, 193, 195);
  }

  #subsection {
    h1 {
      @extend .lex-card-title;
      @extend .lex-card-title-heading;
    }
    li {
      padding-bottom: $lex-section-half-gutter;
    }
    a {
      @extend .lex-font-standout;
      text-decoration: none;
    }
    a:hover {
      color: $lex-light-blue;
    }
    .pane-inner {
      padding-left: 100px;
    }
    .sort-order {
      float: left;
      display: block;
      width: 75px;
      margin-left: -90px;
      padding: 0px 0 15px 15px;
      font-size: 1.5em;
    }
  }
}
