.usa-width-two-thirds.lex-horizontalcard-column {
  @media screen and (min-width: $medium-screen) and (max-width: $large-screen) {
    /* expand two-thirds to 100% to maintain card layout */
    width: 100%;
  }
}

.lex-horizontalcard-image {
  @include media($medium-screen) {
    padding-right: 1em;
    padding-bottom: 1em;
  }
}

.lex-card-title {
  margin: 0;
  font-weight: $font-weight-regular;

  &.lex-card-title-medium {
    font-size: 1.25em;
  }

  &.lex-card-title-large {
    font-size: 1.5em;
  }

  &.lex-card-title-extralarge {
    font-size: 1.75em;
  }

  &.lex-card-title-heading {
    margin-bottom: .5em;
    text-transform: uppercase;
    @extend .lex-card-title.lex-card-title-extralarge;
  }
}

.lex-card-description {
  margin-top: .5em;
  // the card add bottom margin
  margin-bottom: 0;
}
