.lex-card {
  margin-bottom: $lex-section-gutter;
}

.lex-card-subtitle {
  font-weight: $font-weight-light;
}

.lex-eventcard-titlesection {
  float: left;
  width: 73%;
}

.lex-eventcard-stackeddate {
  width: 10%;
  margin-right: $lex-section-gutter;
}

.lex-stackeddate {
  float: left;
  text-transform: uppercase;

  .lex-card-subtitle {
    text-align: center;
  }
  .lex-stackeddate-month {
    display: inline-block
  }
}

.lex-card-fulldate {
  font-style: italic;
}

.lex-horizontalcard-image {
  @include media($medium-screen) {
    padding-right: 1em;
  }
}

.lex-card-title {
  margin: 0;
  font-weight: $font-weight-regular;

  &.lex-card-title-medium {
    font-size: 1.25em;
  }

  &.lex-card-title-large {
    font-size: 1.5em;
  }

  &.lex-card-title-extralarge {
    font-size: 1.75em;
  }

  &.lex-card-title-heading {
    margin-bottom: .5em;
    text-transform: uppercase;
    @extend .lex-card-title.lex-card-title-extralarge;
  }
}

.lex-card-description {
  margin-top: .5em;
  // the card add bottom margin
  margin-bottom: 0;
}
