$filter-column-width: 300px;
$gutter: 20px;

.lex-events-view-page.usa-width-two-thirds {
  @include media($large-screen) {
    /* fix IE10 */
    width: 63%;
  }
}

@include media($medium-large-screen) {
  .lex-events-view-page {
    margin-left: $filter-column-width;
    .pager {
      width: 50%;
    }
  }
  .lex-views-exposed-form {
    float: left;
    margin-left: -300px;
    // position: absolute;
    // // left: 230px;//($filter-column-width * -1);
    // left: ($filter-column-width * -1);
    width: ($filter-column-width - $gutter);
  }
}
