$filter-column-width: 300px;
$gutter: 20px;

.lex-events-view-page.usa-width-two-thirds {
  @include media($large-screen) {
    /* fix IE10 */
    width: 63%;
  }
}

@include media($medium-large-screen) {
  .lex-events-view-page {
    margin-left: $filter-column-width;
    .pager {
      width: 50%;
    }
  }
  .lex-views-exposed-form {
    float: left;
    margin-left: ($filter-column-width * -1);
    width: ($filter-column-width - $gutter);
  }
}

/* /departments */
.lex-filter-label {
  font-weight: $font-weight-regular;
  font-size: 3.5rem;
  margin-top: 0;
}

input[type="text"].lex-filter-search {
  display: inline-block;
  width: 55%;
}

.lex-filter-list {
  @include media($medium-screen) {
    margin-left: ($lex-section-gutter * 3);
  }
}

.lex-region-content li.lex-filter-item, li.lex-filter-item {
  &:first-of-type {
    margin-top: $lex-section-gutter;
  }
  margin-bottom: $lex-section-gutter;
  .lex-card-title {
    font-weight: $font-weight-medium;
  }
  a {
    text-decoration: none;
  }
}

