.lex-pagefeedback-form {
  max-width: none;
  .form-item-field-feedback-url-0-value {
    // display: none;
  }
  textarea {
    height: 4rem;
    max-width: none;
  }
  label {
    font-weight: bold;
    padding-bottom: 5px;
  }
}
.lex-pagefeedback-form, .lex-feedback-form {
  #edit-preview {
    display: none;
  }
}

/* lives in a custom html block for now */
.lex-pagefeedback-linkcontainer {
  margin-top: $lex-section-gutter;
}
