.lex-pagefeedback-form
  max-width: none

  .form-item-field-page-suggestion-0-value label
    font-size: 1.25em


  .form-item-field-feedback-url-0-value
    display: none

  .lex-pagefeedback-replylegend
    margin-top: 3em

  textarea
    display: block
    height: 5rem
    margin: 1em 0



.lex-district-finder
  .lex-autocomplete-input.loading
    background: transparent url(../img/loading.gif) 99% 50% no-repeat

  label
    margin-top: 0em



label
  font-weight: bold


.lex-pagefeedback-form, .lex-feedback-form
  #edit-preview
    display: none



.lex-pagefeedback-container .lex-accordion-content
  // first label has padding and let alert be flush
  padding-top: 0


.lex-pagefeedback-button-fixed
  position: fixed
  z-index: 1000
  bottom: -0.5em
  /* match mobile padding */
  right: 0

  @media (max-width: $screen-phablet-max)
    right: $base-gutter / 2


.lex-views-exposed-form
  label
    margin-top: 0
    font-weight: bold



.lex-search
  @include base_clear

  >div
    width: 100%

  .lex-search-submit
    border-radius: 0
    background-color: white

  button, input[type=search]
    height: 2em
    border: 1px solid $color-secondary-3

  input[type=search]
    width: calc(100% - 3em)
    float: left
    max-width: 40em
    border-right: none

  button
    border-left: none
    float: left
    span:first-child
      display: none


  #edit-actions
    display: none

  /* right-align search icon */
  .lex-search-submit
    text-align: right
    padding-right: 1em


  .lex-icon
    color: $color-secondary-4

  .lex-submit-drupalprovided
    display: none
