.lex-pagefeedback-form {
  max-width: none;

  .lex-pagefeedback-legend, .form-item-field-page-suggestion-0-value label {
    font-size: 2rem;
  }
  .form-item-field-page-suggestion-0-value label {
    margin-bottom: 1em;
  }
  .form-item-field-feedback-url-0-value {
    display: none;
  }
  .lex-pagefeedback-replylegend {
    margin-top: 3em;
  }
  textarea {
    height: 8rem;
    max-width: none;
  }
  label {
    font-weight: bold;
  }
}
.lex-pagefeedback-form, .lex-feedback-form {
  #edit-preview {
    display: none;
  }
}

.lex-pagefeedback-container .lex-accordion-content {
  // first label has padding and let alert be flush
  padding-top: 0;
}
