#google_translate_element {
  a.goog-te-menu-value {
    margin: 0;
  }
  a:hover {
    text-decoration: underline;
  }
  .lex-translatelink {
    font-family: $font-sans;
    color: $lex-blue;
  }
  div {
    border: none;
    background-color: rgba(5, 95, 104, 0);
  }
  .goog-te-gadget-icon {
    display: none;
    background:none !important;
  }
  .goog-te-gadget-simple {
    /* let 'Translate' span dictate line-height */
    font-size: 0;
  }
}
