.lex-site-header {
  background-repeat: no-repeat;
  background-size: cover;

  @include media($medium-large-screen) {
    background-image: none; // set by lex.theme
  }
  @include media($large-screen) {
    min-height: 300px;
  }

  .lex-quicklinks {
    li {
      display: none;
      &#google_translate_element {
        /* display for all screens and pages */
        display: inline-block;
      }
      @include media($medium-screen) {
        padding-left: 2em;
      }
    }
  }
}

#block-edithomepagebanner {
  position: absolute;
  left: 10px;
}

.lex-frontpage .lex-quicklinks li {
  /* show full set of quicklinks on front page */
  @include media($large-screen) {
    display: inline-block;
  }
}

@mixin logo_dimensions($height) {
  height: $height;
  @include calc(width, "#{$height} * 5.2");
}

.lex-site-navbar {
  background-color: rgba($lex-white, $lex-alpha-level);
  padding-top: 9px;
  padding-bottom: 9px;
  /* todo logo => .lex-logo-container */
  .logo {
    max-width: 75%;
    float: left;
  }
  .lex-logo {
    @include logo_dimensions(40px);
    background-image: url('../img/lexington-logo.png');
    background-image: url('../img/lexington-logo.svg');
    background-repeat: no-repeat;
    @include media($large-screen) {
      @include logo_dimensions(50px);
    }
  }
  @include media($large-screen) {
    padding: 25px 0 25px 0;
  }

}

.lex-region-search_header {
  float: left;
  width: 100%;
  margin-top: 5px;
  max-width: 400px;
  @include media(700px) {
    float: right;
  }
  @include media($large-screen) {
    margin-top: 10px;
  }
}

.lex-region-featured_top {
  background-color: rgba($lex-dark-blue, $lex-alpha-level);
  /* make the :after { content: "/" } white */
  .lex-breadcrumb {
    color: $lex-white;
  }
}

.lex-frontpage .lex-region-featured_top {
  @include media($medium-large-screen) {
    margin-top: 310px;
  }
}

.lex-layout-fullbleed {
  .lex-breadcrumb-wrapper {
    /* fix double padding because of nested lex-grid-full */
    padding-left: 0;
  }
}

.lex-layout-fullbleed .lex-region-featured_second {
  background-color: rgba($lex-white, $lex-alpha-level);
  padding-top: 0.5em; /* match margin of page-title to cover with bg */
  padding-bottom: $lex-section-gutter;
}

.lex-layout-fullbleed {
  .lex-pagetitle {
    font-weight: normal;
  }

  /* EDS: can't figure out the block logic to hide these w/o removing
    breadcrumbs from /news, /events, etc
    so hide with css */
  .lex-region-secondary_menu .lex-breadcrumb,
  .lex-region-highlighted .lex-pagetitle {
    display: none;
  }
  @include media($medium-screen) {
    .lex-region-featured_second {
      margin-left: 60%;
    }
    .lex-sidenav-list a {
      padding-left: 0;
    }
    .lex-pagetitle, .lex-sidenav-list {
      padding-left: $lex-section-rem-gutter;
    }
  }
}

.lex-mostactive {
  padding: 1em;
  background-color: rgba($lex-white, $lex-alpha-level);

  @include media($medium-screen) {
    padding-top: 1em;
  }

  .lex-section-heading {
    color: $lex-dark-grey;
  }
  .lex-font-standout a, .lex-font-standout a:visited {
    text-decoration: underline;
  }
}

.lex-site-navbar-secondary {
  float: right;
  margin-top: 12px;
  font-size: $small-font-size;
  .lex-translatelink {
    font-size: $small-font-size;
  }
  @include media($medium-screen) {
    margin-top: 10px;
    font-size: $base-font-size;
    .lex-translatelink {
      font-size: $base-font-size;
    }
  }
  @include media($large-screen) {
    margin-top: 13px;
  }
}
