.photo-grid-col 
    display: grid;

.grid-photo
    margin: 20px;
    height: 250px;
    width: 200px;

    img
        height: 100%;
        width: 100%;

.case-card
    margin: 20px;
    height: 250px;
    width: 200px;
    background-color: #0057A8;
    text-align: center;
    border: 1px solid #0057A8;
    
    a
        color: white !important;

    a:hover
        color: yellow !important;

    img
        height: 185px;
        width: 100%;

.case-card:hover 
    background-color: purple;
    border: 1px solid purple;
        
    a 
        color: yellow !important;
        text-decoration: none;
