.lex-sidenav-list-policerecruitment {
  @include media($medium-screen) {
    background: url(../img/LPD_Badge_Blue_Fade.png);
    background-repeat: no-repeat;
    background-position: right -480px top;
  }
  @include media($large-screen) {
    background-position: right -320px top;
  }
}

.lex-sidenav-list {
  li {
    border: none;
  }
  a {
    color: $lex-blue;
    padding-left: 0;
    @include media($medium-screen) {
      padding-left: $lex-section-rem-gutter;
    }
  }
  a:hover {
    text-decoration: underline;
  }
  a.usa-current {
    color: white;
    background: $lex-blue;
    font-weight: normal;
  }
}
