<div class="container-fluid">    
    <div class="row" style="display: inline-block">
        {% for item in items %}
            <div class="col-xs-12 col-s-4 photo-grid-col">{{item.content}}</div>
        {% endfor %}
    </div>

{# {% for item in items|batch(1, 'error') %}
    <row>
        {% for content in item %}
            <div>{{item.content}}</div>
        {% endfor %}
    </row>
    {{item.content}}
{% endfor %} #}