.lex-alert {
  margin-top: 0;
  .lex-alert-heading {
    font-size: 2rem;
  }
  .usa-alert-body p {
    margin: 1em 0 0 0;
  }

  @include media($large-screen) {
    /* compensate for extra svg padding in WDS */
    margin: 0 auto;
    .usa-alert-body p {
      margin: .2em 0 0 0;
    }
  }
}

.lex-notice {
  padding-left: 3rem;
  border-left: 10px solid $lex-light-grey;
}

.lex-traffic-notice {
  &:before {
    font-family: FontAwesome;
    width: 1em;
    margin-right: 0.5em;
    size: 1.5em;
  }
}

.lex-traffic-notice-highlight {
  padding: 0.2em;
  background-color: $lex-alert-yellow;
}

.lex-traffic-notice-new {
}

.lex-traffic-notice-alert {
  color: $lex-alert-dark-red;
  &:before {
    content: "\f071";
    color: $lex-alert-dark-red;
  }
}
