{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
<header class="usa-site-header" role="banner">
  <nav class="usa-site-navbar lexington-navbar">
    <div class="usa-grid-full lexington-grid-full">
      <div class="usa-width-one-half">
        <div class="logo" id="logo">
          <a href="/" accesskey="1" title="Home" aria-label="Home">
            <img class="lexington-logo" src="/themes/custom/atlas/img/lexington-logo.png">
          </a>
        </div>
      </div>
      <div data-quickedit-entity-id="block_content/1" id="block-frontpagequicklinks" class="contextual-region usa-width-one-half" data-quickedit-entity-instance-id="0" >
      <ol class="usa-unstyled-list" style="width: 100%; text-align: right; ">
        <li style="margin: 5px; display: inline-block">Lexcall</li>
        <li style="margin: 5px; display: inline-block">Translate</li>
        <li style="margin: 5px; display: inline-block">News</li>
      </ol>
      {% block search %}
      {% endblock %}
      <form class="usa-search">
        <div role="search">
          <label class="usa-sr-only" for="search-field">Search medium</label>
          <input id="search-field" name="search" type="search">
          <button type="submit">
            <span class="usa-search-submit-text">Search</span>
          </button>
        </div>
      </form>
    </div>
  </nav>

  {% if content %}
    <div{{ attributes }}>
      {{ content }}
    </div>
  {% endif %}
</header>
