<a href="{{ url }}">
  <div class="icon-desc-button expandable rounded">
      {% if icon[0]['#text']!= null %}
        <div class="icon-desc-button__icon">
          {% include '@components/atoms/button-icon.twig' with {icon: icon} %}
        </div>
        <div class="icon-desc-button__description">
          {% include '@components/atoms/button-heading.twig' with {heading: heading} %}
          {% if description[0]['#text']!= null %}
            {% include '@components/atoms/description.twig' with {description: description} %}
          {% endif %}
        </div>
      {% elseif img[0]['#markup'] != null %}
        <div class="icon-desc-button__img">
          <img src={{ img[0]['#markup'] }}>
        </div>
        <div class="icon-desc-button__description">
          {% include '@components/atoms/button-heading.twig' with {heading: heading} %}
          {% if description[0]['#text']!= null %}
            {% include '@components/atoms/description.twig' with {description: description} %}
          {% endif %}
        </div>
      {% else %}
        <span class="icon-desc-button__heading">
          {% include '@components/atoms/button-heading.twig' with { heading: heading } %}
        </span>
        {% if description[0]['#text']!= null %}
          {% include '@components/atoms/description.twig' with {description: description} %}
        {% else %}
          <span class="icon-desc-button__arrow">
            <i class="fas fa-chevron-right"></i>
          </span>
        {% endif %}
      {% endif %}
  </div>
</a>
