@mixin base_padding
  padding: $base-padding $base-gutter

  @media (max-width: $screen-phablet-max)
    padding: $base-padding calc(#{$base-gutter} / 2)

@mixin base_clear
  &:after
    content: ''
    display: block
    clear: both
    height: 0

@mixin base_bottom_rule
  border-bottom: 1px solid $color-secondary-3

@mixin link_hover_underline
  a
    text-decoration: none

@mixin img_float_left
  img
    float: left
    display: block
    margin: 0 1em 0 0
    border: 1px solid $color-secondary-3

@mixin base_button
  display: inline-block
  background: $color-primary-4
  padding: 0.5em 1em
  margin-bottom: 0.5em
  text-decoration: none
  color: #fff
  text-align: center
  transition: background 0.5s ease-in
  border: 0
  color: #fff
  cursor: pointer
  line-height: 1
  &:visited
    color: #fff
  &:hover
    background: #000
