body.path-search main
  h3
    font-size: 1.4em
    margin-bottom: 0

  .views-field-url a
    color: $color-quadary
    text-decoration: none
    margin-bottom: 0


  h3.field-content.search-result-title a, .search-result-html
    color: #767676

  .lex-link-literal-search a
    color: #3577ba

  .pager__items
    margin-top: 15px

  .pager__item
    font-size: 1.2em

  .pager__item a
    color: $color-primary-4
    text-decoration: none
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;

  .pager__item.is-active a
    color: $color-primary-5
    font-style: italic
    font-weight: bold

  .pager__item a:hover
    font-weight: bold

