{% extends "@lex/pages/page.html.twig" %}

{% block hero_start %}
  {% if (node.field_lex_custom_banner_image.entity.fileuri) %}
    {% set hero = file_url(node.field_lex_custom_banner_image.entity.fileuri) %}
    {% set hero_alt = node.field_lex_custom_banner_image.alt %}
  {% else %}
    {% set hero = "/themes/custom/lex_police/img/PoliceBanner.png" %}
    {% set hero_alt = 'Image of a Lexington Police Officer in her car.' %}
  {% endif %}
  <div class="lex-hero" style="background-image: url({{ hero }})">
    <img src="{{ hero }}" alt="{{ hero_alt }}">
{% endblock %}

{% block sidebar %}
<div>
{{ page.sidebar }}
  <div id="block-field-block-field-office-to-contact" class="lex-block">
    <h2>Contact</h2>
    <div>
      <div about="/taxonomy/term/31">
        <ul class="lex-aside-list">
          <li>
            <h4 class="lex-card-title lex-card-title-medium">
            <div>Lexington Police Department</div>
            </h4>
            <address>
              <a class="lex-font-standout" target="_blank" href="https://www.google.com/maps/dir//+150+East Main St.+40507+Lexington+KY">
                <span class="lex-street-address p-street-address">150 East Main St.</span>
                <span class="p-locality">Lexington, KY &nbsp;40507</span>
              </a>
            </address>
          </li>
          <li class="lex-location-contact">
            <a class="lex-social-link fa-envelope" href="mailto:police-chief@lexingtonpolice.ky.gov">Email us</a>
          </li>
          <li class="lex-location-contact">
            <a class="lex-social-link fa-phone" href="tel:8592583600">(859) 258-3600</a>
          </li>
          <li class="lex-location-contact">
            <ul class="usa-unstyled-list">
              <li>
                <nav>
                  <div>
                    <a href="https://www.facebook.com/LexKyPolice/?fref=ts" class="lex-social-link fa-facebook">Facebook</a>
                  </div>
                </nav>
              </li>
              <li>
                <nav>
                  <div><a href="https://twitter.com/lexkypolice" class="lex-social-link fa-twitter">Twitter</a></div>
                </nav>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
