#landing-page-container {
  background: linear-gradient(0deg, rgba(0,26,73,1) 8%, rgba(255,255,255,0) 100%);
  bottom: 0;
  height: 100%;
  position: absolute;
  width: 100%;

  section.lex-region-title {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;

    @include screens-below(sm) {
      height: fit-content;
    }
  }

  h1 {
    color: color(white);
    font-size: 1.5rem;
    margin-left: 8px;
  }
  #block-pagetitle {
    margin: 0;
  }

  .section-padding {
    padding: 0 5% !important;
  }

  .usa-width-one-half {
    margin-right: auto;
  }

  .views-view-grid {
    display: flex;
    .lex-card-title {
      a:hover {
        border-bottom: none !important;
      }
    }
  }

}
