{#
/**
 * @file
 * Contains the text of the pager_example explanation page
 */
#}

<div class='examples-description'>
{% trans %}
    <p>The Pager Example shows you how to use the table and pager render elements
        along with the PagerSelectExtender provided by the database system. These
        items together allow you to present paginated tables.</p>
    <p>In order to see this in action, make sure there are some nodes present in
        your site. You can use the devel module to add some if needed, or just
        create them.</p>
    <p>The table on this page will show you two nodes per page.</p>
{% endtrans %}
</div>
