{% set content %}
<div>
  <article about="/browse/government/council" class="lex-section-heading lex-heading" role="article" typeof="schema:WebPage">
    <h3 class="lex-card-title lex-card-title-large">
      <a href="/browse/government/council" rel="bookmark">
        <span class="lex-icon"><i class="fa fa-bank"></i></span>
        <span property="schema:name">Urban County Council</span> </a>
      </a>
    </h3>
  </article>
  <article about="/browse/government/ordinances" class="lex-section-heading lex-heading" role="article" typeof="schema:WebPage">
    <h3 class="lex-card-title lex-card-title-large">
      <a href="/browse/government/ordinances" rel="bookmark">
        <span class="lex-icon"><i class="fa fa-book"></i></span>
        <span property="schema:name">Laws and ordinances</span> </a>
      </a>
    </h3>
  </article>
  <article about="/browse/government/departments" class="lex-section-heading lex-heading" role="article" typeof="schema:WebPage">
    <h3 class="lex-card-title lex-card-title-large">
      <a href="/browse/government/departments" rel="bookmark">
        <span class="lex-icon">98</span>
        <span property="schema:name">City departments</span> </a>
      </a>
    </h3>
  </article>
  <article about="/all-boards-commissions" class="lex-section-heading lex-heading" role="article" typeof="schema:WebPage">
    <h3 class="lex-card-title lex-card-title-large">
      <a href="/all-boards-commissions" rel="bookmark">
        <span class="lex-icon">71</span>
        <span property="schema:name">Boards/commissions</span> </a>
      </a>
    </h3>
  </article>
</div>
{% endset %}

{% include "@lex/block.html.twig" %}
