{% set content %}
<div>
  <article about="/browse/government/council" class=" lex-heading" role="article" typeof="schema:WebPage">
    <h3 class="lex-card-title lex-card-title-extralarge">
      <a href="/browse/government/council" rel="bookmark">
        <span class="lex-icon"><i class="fa fa-bank"></i></span>
        <span property="schema:name">Urban County Council</span> </a>
      </a>
    </h3>
  </article>
  <article about="/browse/government/ordinances" class=" lex-heading" role="article" typeof="schema:WebPage">
    <h3 class="lex-card-title lex-card-title-extralarge">
      <a href="/browse/government/ordinances" rel="bookmark">
        <span class="lex-icon"><i class="fa fa-book"></i></span>
        <span property="schema:name">Laws and ordinances</span> </a>
      </a>
    </h3>
  </article>
  <article about="/browse/government/departments" class=" lex-heading" role="article" typeof="schema:WebPage">
    <h3 class="lex-card-title lex-card-title-extralarge">
      <a href="/browse/government/departments" rel="bookmark">
        <span class="lex-icon">98</span>
        <span property="schema:name">City departments</span> </a>
      </a>
    </h3>
  </article>
  <!-- <article about="/all&#45;boards&#45;commissions" class=" lex&#45;heading" role="article" typeof="schema:WebPage"> -->
  <!--   <h3 class="lex&#45;card&#45;title lex&#45;card&#45;title&#45;extralarge"> -->
  <!--     <a href="/all&#45;boards&#45;commissions" rel="bookmark"> -->
  <!--       <span class="lex&#45;icon">71</span> -->
  <!--       <span property="schema:name">Boards/commissions</span> </a> -->
  <!--     </a> -->
  <!--   </h3> -->
  <!-- </article> -->
</div>
{% endset %}

{% include "@lex/block.html.twig" %}
