<div class="js-lex-filter-block">
  <div class="lex-hide-initially">
    <label class="lex-filter-label">What's the latest <br>from <input type="text" class="lex-filter-search search" placeholder="Eg planning"> ?</label>
  </div>
  <div>
    {% include '@lex/block.html.twig' %}
  </div>
</div>

