<div class="js-lex-filter-block">
  <div class="lex-hide-unless-javascript">
    <label class="lex-department-filter-label">Type the name of a board or commission <input type="text" class="lex-filter-search search" placeholder="planning commission"></label>
  </div>
  <div>
    {% include '@lex/block.html.twig' %}
  </div>
</div>
