<ul class="usa-unstyled-list lex-card-title lex-card-title-medium">
  <li class="lex-card">
    <a href="/become-boards-or-commissions-member" hreflang="en">Become a boards or commissions member</a>
  </li>
  <li class="lex-card">
    <a href="" hreflang="en">View members of boards or commissions</a>
  </li>
</ul>

<div class="js-lex-filter-block">
  <div class="lex-hide-unless-javascript">
    <label class="lex-department-filter-label">Type the name of a board or commission <input type="text" class="lex-filter-search search" placeholder="planning commission"></label>
  </div>
  <div>
    {% include '@lex/block.html.twig' %}
  </div>
</div>
