{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb" class="lex-grid-full">
    <h2 class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    {% for item in breadcrumb %}
      {# use span so we can add the -> pseudo-selector #}
      <span class="lex-nav-breadcrumbs-item">
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </span>
    {% endfor %}
  </nav>
{% endif %}
