{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb" class="lex-grid-full" id="global-breadcrumb">
    <h2 class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="usa-unstyled-list" role="breadcrumbs">
    {% for item in breadcrumb %}
      <li class="lex-breadcrumb-item">
        {% if item.url %}
          <span><a href="{{ item.url }}">{{ item.text }}</a></span>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol>
  </nav>
{% endif %}
