{{ attach_library('lex/lex-neighborhood-associations') }}

{% include "@lex/node.html.twig" %}

<div class="lex-accordion js-lex-filter-associations">
  <div>
    <label class="lex-department-filter-label">Type the name of a neighborhood association
      <input class="lex-filter-search search" placeholder="Cardinal Valley" type="text" />
    </label>
  </div>
  <div class="usa-unstyled-list">
    <ul class="list js-lex-associations lex-associations">
      <li class="lex-filter-item lex-card js-lex-association-template">
        <span class="js-lex-filter-item">
          <a href="#" class="js-accordion-control" aria-expanded="false"></a>
        </span>
        <dl aria-hidden="true" class="lex-accordion-content lex-notice usa-accordion-content js-accordion-content lex-accordion-content">
          <dt>Council district</dt>
          <dd data-esri-field-template="Council"></dd>
          <dt>Website</dt>
          <dd data-esri-field-template="Website"></dd>
          <dt>Primary contact</dt>
          <dd>
            <div>Name: <span data-esri-field-template="Primary_Contact_Name"></span></div>
            <div>Address: <span data-esri-field-template="Primary_Contact_Addr"></span>
              <br><span>Lexington, KY </span><span data-esri-field-template="Primary_Contact_Zip"></span></div>
            <div>Home phone: <span data-esri-field-template="Primary_Contact_Ph_Home"></span></div>
            <div>Work phone: <span data-esri-field-template="Primary_Contact_Ph_Work"></span></div>
            <div>Email: <span data-esri-field-template="Primary_Contact_Email"></span></div>
          </dd>
          <dt>Secondary contact</dt>
          <dd>
            <div>Name: <span data-esri-field-template="Second_Contact_Name"></span></div>
            <div>Address: <span data-esri-field-template="Second_Contact_Addr"></span>
              <br><span>Lexington, KY </span><span data-esri-field-template="Second_Contact_Zip"></span></div>
            <div>Home phone: <span data-esri-field-template="Second_Contact_Ph_Home"></span></div>
            <div>Work phone: <span data-esri-field-template="Second_Contact_Ph_Work"></span></div>
            <div>Email: <span data-esri-field-template="Second_Contact_Email"></span></div>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</div>
