{{ attach_library('lex/lex-gis') }}

{% include "@lex/node.html.twig" %}

<div class="lex-accordion js-lex-filter-block">
  <div><label class="lex-department-filter-label">Type the name of a board or commission <input class="lex-filter-search search" placeholder="planning commission" type="text" /></label></div>

<div class="usa-unstyled-list">
<ul class="list lex-card-title lex-card-title-medium js-lex-associations">
	<li class="lex-filter-item lex-card js-lex-association-template">
    <span class="js-lex-filter-item">
      <a href="#" class="js-accordion-control" aria-expanded="false"></a></span>
      <div aria-hidden="true" class="lex-accordion-content usa-accordion-content lex-notice js-accordion-content lex-accordion-content"></div>
  </li>
</ul>
</div>
</div>
