<div class="usa-width-one-third lex-browsenav lex-browsenav-root">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'region' -->
<!-- FILE NAME SUGGESTIONS:
   * region--primary-menu.html.twig
   x region.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/layout/region.html.twig' -->
  <div class="lex-region-primary_menu">


<!-- THEME DEBUG -->
<!-- THEME HOOK: 'block' -->
<!-- FILE NAME SUGGESTIONS:
   * block--lex-mainnavigation-4.html.twig
   * block--system-menu-block--main.html.twig
   x block--system-menu-block.html.twig
   * block--system.html.twig
   * block.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/block/block--system-menu-block.html.twig' -->
<nav role="navigation" aria-labelledby="block-lex-mainnavigation-4-menu" id="block-lex-mainnavigation-4" class="contextual-region">

  <h2>Main navigation - full</h2>
  <div data-contextual-id="block:block=lex_mainnavigation_4:langcode=en|menu:menu=main:langcode=en" class="contextual" role="form"><button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open Main navigation - full configuration options</button>

<!-- THEME DEBUG -->
<!-- THEME HOOK: 'links__contextual' -->
<!-- FILE NAME SUGGESTIONS:
   * links--contextual.html.twig
   x links.html.twig
-->
<!-- BEGIN OUTPUT from 'core/themes/stable/templates/navigation/links.html.twig' -->
<ul class="contextual-links" hidden=""><li class="block-configure"><a href="/admin/structure/block/manage/lex_mainnavigation_4?destination=taxonomy/term/3">Configure block</a></li><li class="entitymenuedit-form"><a href="/admin/structure/menu/manage/main?destination=taxonomy/term/3">Edit menu</a></li></ul>
<!-- END OUTPUT from 'core/themes/stable/templates/navigation/links.html.twig' -->

</div>



<!-- THEME DEBUG -->
<!-- THEME HOOK: 'menu__main' -->
<!-- FILE NAME SUGGESTIONS:
   x menu--main.html.twig
   x menu--main.html.twig
   * menu.html.twig
-->
<!-- BEGIN OUTPUT from 'themes/custom/lex/templates/menu--main.html.twig' -->



        <ul class="usa-sidenav-list lex-browsenav-list">
              <li>
                    <h3 class="lex-browsenav-link"><a href="/browse/government" title="Mayor's office, city departments, council members, council meetings and history
" class="usa-current lex-current is-active" data-drupal-link-system-path="taxonomy/term/3">Government</a></h3>
          <p class="lex-browsenav-description">&lt;p&gt;Mayor's office, city departments, council members, council meetings and history&lt;/p&gt;
</p>
        </li>
              <li>
                    <h3 class="lex-browsenav-link"><a href="/browse/jobs" title="City Contracts and Job opportunities with the City and related agencies
" data-drupal-link-system-path="taxonomy/term/4">Jobs and Contracts</a></h3>
          <p class="lex-browsenav-description">&lt;p&gt;City Contracts and Job opportunities with the City and related agencies&lt;/p&gt;
</p>
        </li>
              <li>
                    <h3 class="lex-browsenav-link"><a href="/browse/licensing-and-permits" title="Includes applications for starting a business, tax forms, building and zoning permits
" data-drupal-link-system-path="taxonomy/term/5">Licensing and Permits</a></h3>
          <p class="lex-browsenav-description">&lt;p&gt;Includes applications for starting a business, tax forms, building and zoning permits&lt;/p&gt;
</p>
        </li>
              <li>
                    <h3 class="lex-browsenav-link"><a href="/browse/parks" title="Includes city provided outdoor activities, attractions and entertainment
" data-drupal-link-system-path="taxonomy/term/6">Parks and Recreation</a></h3>
          <p class="lex-browsenav-description">&lt;p&gt;Includes city provided outdoor activities, attractions and entertainment&lt;/p&gt;
</p>
        </li>
              <li>
                    <h3 class="lex-browsenav-link"><a href="/browse/public-safety" title="Includes police, fire, crime, and emergency preparedness
" data-drupal-link-system-path="taxonomy/term/7">Public Safety</a></h3>
          <p class="lex-browsenav-description">&lt;p&gt;Includes police, fire, crime, and emergency preparedness&lt;/p&gt;
</p>
        </li>
              <li>
                    <h3 class="lex-browsenav-link"><a href="/browse/utilities-and-streets" title="Including traffic, LEXserv, trash, recycling, parking, and transportation
" data-drupal-link-system-path="taxonomy/term/8">Utilities &amp; Streets</a></h3>
          <p class="lex-browsenav-description">&lt;p&gt;Including traffic, LEXserv, trash, recycling, parking, and transportation&lt;/p&gt;
</p>
        </li>
          </ul>





<!-- END OUTPUT from 'themes/custom/lex/templates/menu--main.html.twig' -->


  </nav>

<!-- END OUTPUT from 'core/themes/stable/templates/block/block--system-menu-block.html.twig' -->


  </div>

<!-- END OUTPUT from 'core/themes/stable/templates/layout/region.html.twig' -->


      </div>
