{% extends 'region.html.twig' %}
{% block region_content %}
  {{ parent() }}
  <nav>
    <h2>Get in touch</h2>
    <ul>
      <li>
        {% include "@lex/includes/address.html.twig" with {
            address: {
              'street_number': '200',
              'street': 'E. Main St.',
              'zip': '40507',
            }
          }
        %}
      </li>
      <li>
        {% include "@lex/includes/phone.html.twig" with { phone_number: "(859) 425-2255" } %}
      </li>
      <li>
        <ul class="usa-unstyled-list lex-horizontal-list lex-social-links">
          <li>
            <a href="https://twitter.com/LexingtonKyGov"><i class="lex-card-title lex-card-title-large lex-font-standout fa fa-twitter"></i><span class="visually-hidden">twitter</span></a>
          </li>
          <li>
            <a href="https://www.facebook.com/LexingtonKyGov"><i class="lex-card-title lex-card-title-large lex-font-standout fa fa-facebook"></i><span class="visually-hidden">facebook</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <section>
    <ul>
      <li>&copy; {{ "now"|date("Y") }} Lexington-Fayette Urban County Government</li>
      <li>Lexington KY, Horse Capital of the World <sup>&#174;</sup></li>
      <li><a href="/terms-of-use">Terms of use</a></li>
    </ul>
  </section>
{% endblock %}
