<section class="lex-slab lex-slab-blue">
  <div class="lex-grid-full usa-grid">
    <div class="usa-width-one-third">
      <h2 class="lex-section-heading lex-heading lex-font-standout">Government</h2>
      </h2>
      <ul class="usa-unstyled-list">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>

    <div class="usa-width-one-third">
      <h2 class="lex-section-heading lex-heading lex-font-standout">Services</h2>
      </h2>
      <ul class="usa-unstyled-list">
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>

    <div class="usa-width-one-third">
      <h2 class="lex-section-heading lex-heading lex-font-standout">Get in touch</h2>
      </h2>
      <ul class="usa-unstyled-list">
        <li><a class="lex-font-standout" href="#">Link</a></li>
        <li><a class="lex-font-standout" href="#">Link</a></li>
        <li><a class="lex-font-standout" href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</section>
<section class="lex-slab lex-slab-blue">
  <div class="lex-grid-full usa-grid">
    <div class="usa-width-one-half">
      <p class="lex-font-standout">&#169; 2016 Lexington-Fayette Urban County Government
      <br>Lexington-Fayette Urban County Government</p>
      <ul class="usa-unstyled-list lex-horizontal-list">
        <li>Privacy Statement</li>
        <li>Terms of Use</li>
        <li>Data Policy</li>
      </ul>
    </div>
    <div class="usa-width-one-half lex-font-standout">
      <ul class="lex-font-standout usa-unstyled-list lex-quicklinks">
        <li>Youtube</li>
        <li>Twitter</li>
        <li>Facebook</li>
      </ul>
    </div>
  </div>
</section>
