
{% for item in items %}
    {# {{dd(item.content['#node'].field_photo_grid)}} #}
    {# <img src="{{ file_url(item.content['#node'].field_photo_grid.entity.field_grid_photo[0].entity.uri.value) }}"> #}
    {# <h4 class="card-title">{{ item.content['#node'].title.value }}</h4> #}
{% endfor %}
    