main>div:first-child {
  width: 100% !important; 
    // div:first-child {
     
    // }

}


.fc-event {
  width: 8px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  border: none !important;

  .fc-content {
    display: none;
  }
}

.fc-day-number {
  margin-left: 100%;
}

.fc-day-top {
  padding-left: 1.5% !important;
  padding-right: 1.5% !important;
}

.fc-widget-header, .fc-head-container {
  background: none !important;
  border: none !important;
}

.fc-button {
  background: transparent !important;
  color: black !important;
  border: none !important;
  box-shadow: none !important;
  @include fluid-type(15px, 24px);

  @media (max-width: $calendarDualBreakpoint) {
    @include fluid-type(17px, 24px);
  }
}

.fc-list-heading {
  border-bottom: 1px solid color(gray);

  .list-event-container:nth-child(odd) {
    background-color: lightgray;
  }


  .fc-widget-header {
    height: 100%;
    min-width: 50% ;
  }
  .dot-event {
    margin-top: 8px;
  }
}

.details-link {
  display: none;
  @include fluid-type(12px, 20px);

  @media (max-width: $calendarDualBreakpoint) {
    @include fluid-type(15px, 22px);
  }
}

.list-event-container {
  margin:  0 !important;
  padding: 0;
  display: flex;

  a {
    // background-color: none;
    width: 100% !important;
    display: inline-block;
  }
  &:hover {
    background-color: color(yellow) !important;
    
    .list-text-container {
      color: white;
    }
    .list-dot {
      color: white !important;
      border: none;
    }
    .details-link {
      display: block;
    }
  }
}

.list-text-container {
  width: 90%;
  display: block;
  float: right;
  color: color(dark-blue);
}

.list-event-title, .list-event-date, .list-event-time {
  width: 100%;
  display: block;
}

.list-event-date-group{
  white-space: break-spaces;
  display: flex;
  flex-wrap: wrap;
}

.toolbar-month {
  display: flex;
  align-items: center;
}

.list-event-title {
  // font-size: 1.6vw;
  @include fluid-type(13px, 22px);

  @media (max-width: $calendarDualBreakpoint) {
    @include fluid-type(16px, 22px);
  }
}

.list-event-date {
  // font-size: 1.4vw;
  @include fluid-type(12px, 20px);
  padding: 0;
  white-space: nowrap;
  width: auto;

  @media (max-width: $calendarDualBreakpoint) {
    @include fluid-type(15px, 22px);
  }
}

.list-event-time {
  font-size: .8em;
}

.month-header {
  @include fluid-type(20px, 28px);

  @media (max-width: $calendarDualBreakpoint) {
    @include fluid-type(21px, 26px);
  }
}

.fc-list-heading-main {
  text-align: center;
  text-transform: uppercase;
  @include fluid-type(15px, 24px);
  color: color(dark-blue);

  @media (max-width: $calendarDualBreakpoint) {
    @include fluid-type(17px, 24px);
  }
}

#sidebar-calendar {
  // display: inline-block;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  background-color: color(light-gray);
  overflow: hidden auto;
  // position:fixed;
  @media (max-width: $calendarDualBreakpoint) {
      // height: auto ;
      width: 100% ;
  }
}

.calendars-container {
  // max-height: fit-content;
  margin-bottom: 50px;
  // display: inline-block;
}

.fc-scroller {
  height: auto !important;
  overflow: initial !important; 

  @media (max-width: $calendarDualBreakpoint) {
      // height: 400px !important;
      // max-height: none !important;
  }
}

.mobile-switch {
  display: none;
  width: 100vw;
  margin-left: -5% !important;
  font-size: 1.5em;
  text-align: center;
  line-height: 65px;

  .month-switch {
    color: color(lex-blue);

    &:hover {
      cursor: pointer;
    }
  }

  .list-switch {
    color: color(dark-gray);
    background-color: color(light-gray);

    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: $calendarDualBreakpoint) {
    display: flex;
  }
}

.calendar-key {
  top: 10px;
  margin-right: 5px;
  display: flex;

  .meeting-dot {
    color: rgb(81, 164, 124);
  }

  .event-dot {
    color: rgb(0, 69, 133);
  }
}

.placeholder-col {
  @media (max-width: $calendarDualBreakpoint) {
      display: none;
  }
}

.listCal-col {
  @media (max-width: $calendarDualBreakpoint) {
    height: 0;
  }
}

.sidecal-col {
  position: absolute !important;
  right: 0;
  top: 0;
  padding-right: 0 !important;

  #sidebar-calendar {
      position: relative;
      max-width: 100%;
  }

  @media (max-width: $calendarDualBreakpoint) {
      position: static !important;

    #sidebar-calendar {
        position: static;
    }
  }
}

.fc-week {
  @media (min-width: 768px) {
      height: 100px !important;
  }
}

#calendar {
  margin-top: 1em !important;
}

.lex-region-title {
  margin-top: 1em;
}

// .lex-region-feedback {
//   margin-bottom: 1em;
// }

#calendar-main {
  padding: 0 0 0 2%;
  flex-direction: column;

  @media (max-width: $calendarDualBreakpoint) {
    padding: 0 2% 0 2%
  }

  #block-pagetitle {
    margin-bottom: 0 !important;
    padding-left: 12px !important;
  }
}

.month-dot {
  &:hover {
      cursor: pointer;
  }
}

.displayList {
    display: table-row !important;
}

.calendar-bullets {
  @include fluid-type(3px, 60px);
  background-color: transparent !important;
  line-height: 0;
  margin-top: 2px !important;
  width: 0px;
  height: 0px;
  padding-right: 1vw;
  transform: scaleY(0.9);

  @media (max-width: $calendarDualBreakpoint) {
    @include fluid-type(26px, 50px);

  }
}

.calendar-bullets-list {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-right: 0.5vw !important;
}

.filter-container {
  margin-bottom: 1em;
  white-space: nowrap;
  
  @media (max-width: $calendarDualBreakpoint) {
      margin-top: 1em;
  }

  #calendar-filter, #page-filter {
      border: 1px solid color(gray);
      max-width: 100%;
  }
}

.fc-view-container-calendar {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
  display: flex;
}

.sidebar-header {
  background-color: rgb(158, 158, 158) !important;
  padding-left: 8px !important;
}

.filter-label {
  @include fluid-type(13px, 22px);

  margin-bottom: .25rem!important;
  @media (max-width: $calendarDualBreakpoint) {
    white-space: break-spaces;
    @include fluid-type(16px, 22px);
  }
}