// color loop for easily accessing colors throughout
@function color($name: wildcat-blue, $scheme: $colors) {
  @if map-has-key($scheme, $name) {
    @return map-get($scheme, $name);
  }
  @return $color-undefined;
}

@mixin rgba-background($hexcolor, $opacity) {
  background-color: $hexcolor;
  background-color: rgba($hexcolor, $opacity);
}


$colors: (
  lex-blue: #004585,
  light-blue: #3887BA,
  med-blue: #0558A7,
  dark-blue: #001A49,
  light-gray:  #EFEFEF,
  gray: #787878,
  dark-gray: #353535,
  yellow: #E1B111,
  white: #fefEfe,
  green: #51A47C,
);
