@function strip-unit($value) {
  @return calc($value / ($value * 0 + 1px));
}

@mixin fluid-type(
  $min-font-size,
  $max-font-size,
  $min-viewport: $min-font-viewport,
  $max-viewport: $max-font-viewport,
) {
  $u1: unit($min-viewport);
  $u2: unit($max-viewport);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-viewport) {
        font-size: calc(
          #{$min-font-size} +
          #{strip-unit($max-font-size - $min-font-size)} *
          ((100vw - #{$min-viewport}) / #{strip-unit($max-viewport - $min-viewport)})
        );
      }

      @media screen and (min-width: $max-viewport) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin fluid-width(
  $min-width,
  $max-width,
  $min-viewport: $min-font-viewport,
  $max-viewport: $max-font-viewport,
) {
  $u1: unit($min-viewport);
  $u2: unit($max-viewport);
  $u3: unit($min-width);
  $u4: unit($max-width);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      width: $min-width;

      @media screen and (min-width: $min-viewport) {
        width: calc(
          #{$min-width} +
          #{strip-unit($max-width - $min-width)} *
          ((100vw - #{$min-viewport}) / #{strip-unit($max-viewport - $min-viewport)})
        );
      }

      @media screen and (min-width: $max-viewport) {
        width: $max-width;
      }
    }
  }
}

@mixin fluid-height(
  $min-height,
  $max-height,
  $min-viewport: $min-font-viewport,
  $max-viewport: $max-font-viewport,
) {
  $u1: unit($min-viewport);
  $u2: unit($max-viewport);
  $u3: unit($min-height);
  $u4: unit($max-height);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      height: $min-height;

      @media screen and (min-width: $min-viewport) {
        height: calc(
          #{$min-height} +
          #{strip-unit($max-height - $min-height)} *
          ((100vw - #{$min-viewport}) / #{strip-unit($max-viewport - $min-viewport)})
        );
      }

      @media screen and (min-width: $max-viewport) {
        height: $max-height;
      }
    }
  }
}

@mixin lineclamp($lines) {
  /* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix */
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  /* stylelint-enable value-no-vendor-prefix, property-no-vendor-prefix */
  overflow: hidden;
  word-break: break-word;
}
