.path-search {
  main {
    padding-top: 2% !important;
  }

  .search-result-title {
    a {
      color: color(lex-blue) !important;
      font-size: 1em !important;
    }
  }

  .lex-region-content .views-row {
    padding: 1em 0;
    position: relative;

    &:hover {
      background-color: color(light-gray);
    }
  }

  .lex-card-subtitle {
    a {
      font-size: 1.1em;
    }
  }

  .search-result-html {
    color: black;
  }

  .views-field-type {
    color: color(gray);
    display: inline;
    padding: inherit;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.results-header {
  display: inline-block;
  font-style: italic;
  margin-top: 1em;
  padding: 0 5%;
}
