@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto&display=swap');

// Font Shortcuts
$font__open_sans : 'Open Sans';
$font__roboto : 'Roboto';

#toolbar-administration * {
  font-size: 14px;
  z-index: 10000;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: $font__roboto;
  overflow-x: hidden;
}

.small {
  font-size: .7rem;
}

.uppercase {
  text-transform: uppercase;
}

h1, h2 {
  font-family: $font__open_sans;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  color: color(lex-blue);
}

h2 {
  font-size: 1.6rem;
  color: color(gray);
}

h3, h4 {
  font-family: $font__open_sans;
  font-size: 1.4rem;
}

h3 { color: color(gray); }
h4 { color: color(light-blue); }

a, p {
  font-family: $font__roboto;
  font-size: 1rem;
}

a:not(
  .search-results__link,
  .lex-calltoaction,
  .lex-font-standout,
  .contact-card-link,
  .toolbar-icon,
  :has(.event-card)
  ) {
  color: color(med-blue);

  &.dark-bg {
    color: color(white);
  }

  &.light-bg {
    color: color(med-blue);
  }

  &:hover:not(
    .btn .btn-link,
    .lex-calltoaction
  ) {
    color: color(yellow);
    text-decoration: none;
    box-shadow: 0 -1px 0 0 color(yellow) inset;
  }
}
