.path-frontpage {
  .lex-pagefeedback-container {
    padding: 0 5%;
    ul {
      padding-left: 15px;
    }
  }
  main {
    display: none;;
  }
  div[id^="block-urban"] {
    > div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .paragraph--type--contact-card {
        margin: .7rem;
        clear: none;
        padding-bottom: 1rem !important;
      }
    }
  }
  .lex-region-postscript {
    .paragraph--type--icon-button-with-description {
      margin-top: 0px;
      padding-bottom: 0px !important;
      .icon-desc-button {
        width: auto;
        height: auto;
        .row {
          padding: 8px;
          .button-heading {
            margin: 0;
          }
        }
      }
    }
    div[id^="block-"] {
      h1 {
        margin-left: 12px;
      }
      > h2 {
        line-height: 1.2;
        font-size: 2rem;
        color: color(lex-blue);
        margin-left: 12px;
      }

      .footer-text {
        a {
          padding: 5px 15px;
          text-align: right;
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}
