body.path-frontpage {
  .lex-hero {
    position: relative;
  }
  .welcome-block {
    @include rgba-background(color(dark-blue), 0.7);
    color: #fff;
    margin: 0 5%;
    padding: 1rem 2rem;
    position: absolute;
    text-align: center;
    top: 0;
    width: 90%;

    @include screens-below(sm) {
      background-color: rgba(color(dark-blue),1);
      margin: 0;
      position: initial;
      width: 100%;
    }

    h1 {
      color: color(white);
    }

    sup {
      top: 0;
    }


  }

  .lex-search {
    width: 80%;
    margin: auto;
    @include screens-below(sm) {
      width: 95%;
    }

    .input-group {
      height: 2.5rem;
      margin: 0;
      * {
        height: 100%;
      }

      input {
        border: 1px solid color(yellow);
        border-radius: 5px 0px 0px 5px;
        margin: 0;
        width: 92%;
        @include screens-below(sm) {
          width: 88%;
        }
      }
      .input-group-append {
        width: 8%;
        margin: 0;
        border: 1px solid color(yellow);
        border-radius: 0px 5px 5px 0px;
        @include screens-below(sm) {
          width: 12%;
        }
        button {
          border-radius: 0px 5px 5px 0px;
        }
      }

      button {
        background-color: color(dark-blue);
        color: color(white);
        border: none;
        border-radius: 0;
        margin: auto;
        width: 100%;
        transition: all 500ms ease;
        &:hover {
          color: color(dark-blue);
          background-color: color(yellow);
        }
      }
    }
  }

  #block-mostpopularsearches {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    h2, a {
      color: color(white);
      font-size: 1rem;
    }

    h2 {
      margin: 0;
      padding-right: 1rem;
      @include screens-below(sm) {
        padding-bottom: 1rem;
        padding-right: 0;
        width: 100%;
      }
    }

    a:hover {
      color: color(yellow);
    }

    ul {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      @include screens-below(sm) {
        justify-content: space-between;
      }
      li {
        padding: 0 1rem;
      }
    }
  }
}
