#block-lookupservices {
  background-color: color(light-gray);
  min-height: 200px;
  padding: 2rem 1rem;
  position: relative;
  top: -40px;
  width: 90%;

  @include screens-below(sm){
    top: -10px;
  }

  .lex-find {
    border-right: 1px solid color(med-blue);
    @include screens-below(sm){
      border-right: none;
      border-bottom: 1px solid color(med-blue);
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }
  }

  #edit-address {
    &:focus {
      border: 1px solid color(med-blue);
    }
  }

  h3 {
    color: color(med-blue);
    font-weight: 800;
  }

  i.fas {
    color: color(med-blue);
    font-size: 2.0rem;
  }

  h5 {
    color: color(gray);
    font-size: 1.1rem;
    padding-left: 12px;
    padding-top: 8px;
    text-align: left;
  }

  .service-label {
    height: 80px;
    &.open {
      border-bottom: solid 1px color(med-blue);
    }
  }

  .service {
    padding-top: .3rem;
    font-size: .8rem;
    text-align: left;
    span {
      &:first-child {
        font-weight: 600;;
      }
    }
  }

  .hide {
    display: none;
  }

  input {
    border-radius: 5px;
    border: 1px solid color(med-blue);
    width: 90%;
    margin: 0;
    position: relative;
    left: -5%;
  }

  .instructions {
    padding-left: 15px;
  }
  .lexfind-link {
    color: color(med-blue);
    font-weight: 600;
  }
}
