{% extends 'page.html.twig' %}
{% set content_attributes = content_attributes.addClass('lex-calendar-page') %}


{% block page_main %}
<a id="main-content" name="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
<main role="main" id="calendar-main">
  <div>
  {% block page_title_main %}
    {{ page.title }}
  {% endblock %}
  {% block content %}
    {{ page.content }}
  {% endblock %}
  {% block after_content %}
    {{ page.after_content }}
  {% endblock %}
  </div>
  {% block sidebar %}
  {% if page.sidebar is not empty %}
  <div>
    {{ page.sidebar }}
  </div>
  {% endif %}
  {% endblock %}
</main>
{% endblock %}
