{% extends 'page.html.twig' %}
{% block page_hero %}
<div class="lex-hero splash" style="background: url({{ file_url(node.field_lex_custom_banner_image.entity.fileuri) }}) no-repeat 0% 0% fixed">
  {% block page_features %}
    <div>
      {{ page.title }}
      {{ page.hero }}
    </div>
  {% endblock %}
</div>
{% endblock %}

{% block page_title_main %}{% endblock %}
