{% extends 'page.html.twig' %}
{% block page_hero %}
<div class="lex-hero splash" style="background: url({{ file_url(node.field_lex_custom_banner_image.entity.fileuri) }}) no-repeat 0% 0% fixed">
  {% block page_features %}
    <img class="mobile-image" src="{{ file_url(node.field_lex_custom_banner_image.entity.fileuri) }}">
    <div>
      {% include "@lex/includes/hero.html.twig" with {
        page: page,
        hero: hero,
        hero_alt: hero_alt,
        block: 'block_1',
      } %}
      <div id="landing-page-container">
        {{ page.title }}
      </div>
    </div>
  {% endblock %}
</div>
{% endblock %}
{% block page_title_main %}{% endblock %}
