{% extends 'page.html.twig' %}

{% block page_features %}
  <div>
    {{ page.featured_top }}
  </div>
{% endblock %}

{% block page_header_nav %}
  {{ page.navbar_secondary }}
{% endblock %}

{% block main_content %}
  <hr>
{% endblock %}
