{% extends 'page.html.twig' %}
{% set layout_class = 'lex-frontpage' %}

{% block page_features %}
<div class="lex-slab lex-slab-blue-alpha">
  <div class="lex-grid-full usa-grid-full">
    {{ page.featured_top }}
  </div>
</div>
{% endblock %}

