<div class="js-lex-filter-block lex-filter-block-padtop">
  <div class="lex-hide-unless-javascript">
    <label class="lex-department-filter-label">Type the name of a resource <input type="text" class="lex-filter-search search" placeholder="Resources"></label>
  </div>
  <div>
    {% include 'block.html.twig' %}
  </div>
</div>
