<div class="frontpage-quicklinks">
  <div class="row section-padding">
    <div class="col-xs-12 col-md-6 col-xl-3">
      <a href="/browse/government/council">  
        <div class="quick-link expandable rounded">
          <div class="row">
            <div class="col-1">
              <i class="fas fa-landmark"></i>
            </div>
            <div class="col-9">
              Find councilmembers
            </div>
            <div class="col-1">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-3">
      <a href="/code-of-ordinances-and-zoning-ordinance">  
        <div class="quick-link expandable rounded">
          <div class="row">
            <div class="col-1">
              <i class="fas fa-gavel"></i>
            </div>
            <div class="col-9">
              Laws & ordinances
            </div>
            <div class="col-1">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-3">
      <a href="/browse/government/departments">  
        <div class="quick-link expandable rounded">
          <div class="row">
            <div class="col-1">
              <i class="fas fa-building"></i>
            </div>
            <div class="col-9">
              City departments
            </div>
            <div class="col-1">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-3">
      <a href="/browse/government/boards-commissions">  
        <div class="quick-link expandable rounded">
          <div class="row">
            <div class="col-1">
              <i class="fas fa-users"></i>
            </div>
            <div class="col-9">
              Boards & commissions
            </div>
            <div class="col-1">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
