<div>
	<form action="/search" method="get" id="search-block-form" accept-charset="UTF-8" class="usa-search lex-search">
  <div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
      <label for="edit-keys" class="visually-hidden">Search</label>
          <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="search" id="edit-keys" name="search_api_fulltext" value="" size="15" maxlength="128" class="form-search" placeholder="Search for..." />
      <button type="submit" class="lex-search-submit">
    <span class="usa-sr-only">Search</span>
    <i class="fa fa-search lex-icon"></i>
  </button>
  

        </div>
</form>
</div>
{# 

<div class="views-exposed-form lex-block" data-drupal-selector="views-exposed-form-solr-search-page-1" id="block-exposedformsolr-searchpage-1-2">

<form action="/search" method="get" id="views-exposed-form-solr-search-page-1" accept-charset="UTF-8">
  

<div class="js-form-item form-item js-form-type-textfield form-item-search-api-fulltext js-form-item-search-api-fulltext">
<input data-drupal-selector="edit-search-api-fulltext" type="text" id="edit-search-api-fulltext" name="search_api_fulltext" value="" size="30" maxlength="128" class="form-text" />



        </div>

  <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">

<input data-drupal-selector="edit-submit-solr-search" type="submit" id="edit-submit-solr-search" value="Search" class="button js-form-submit form-submit lex-submit-drupalprovided" />

</div>
</form>
  </div>

#}