<div>
	<form action="/search" method="get" id="search-block-form" accept-charset="UTF-8" class="usa-search lex-search">
  <div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
      <label for="edit-keys" class="visually-hidden">Search</label>
          <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="search" id="edit-keys" name="search_api_fulltext" value="" size="15" maxlength="128" class="form-search" placeholder="Search for..." />
      <button type="submit" class="lex-search-submit">
    <span class="usa-sr-only">Search</span>
    <i class="fa fa-search lex-icon"></i>
  </button>
  

        </div>
</form>
</div>