{% extends "block.html.twig" %}

{% block title %}
  {% if label %}
    <div class="row">
      <h1{{ title_attributes }}>{{ label }}</h1>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-4 col-12">
      <img src="{{ file_url(content.field_image.0['#item'].entity.uri.value|image_style('4x3')) }}" alt="" class="img-fluid">
    </div>
    <div class="col-lg-8 col-12">
      {{ content.field_markup }}
    </div>
  </div>
{% endblock %}
