<div class="lex-accordion lex-pagefeedback-container" id="js-page-feedback">
  <ul>
    <li>
      <p>
        <a href="/contact/page_feedback" class="lex-font-muted js-accordion-control" aria-expanded="false" aria-controls="collapsible-0">Suggestions or problems with this page?</a>
      </p>
      <div id="collapsible-0" aria-hidden="true" class="lex-accordion-content usa-accordion-content lex-notice js-accordion-content lex-accordion-content">
        {{ contact_form }}

        <div class="lex-alertcontainer-success js-success visually-hidden">
          <div class="lex-alert">
            <h3>Message sent</h3>
            <p>Thank you for helping us to improve lexingtonky.gov!</p>
          </div>
        </div>

        <div class="lex-alertcontainer-success js-error visually-hidden">
          <div class="lex-alert">
            <h3>We were unable to send your message</h3>
            <p>Please email <a href="mailto:webmaster@lexingtonky.gov?subject=Problem sending lexingtonky.gov feedback">webmaster@lexingtonky.gov</a></p>
          </div>
        </div>

      </div>
    </li>
  </ul>
</div>

<div id="js-feedback-button" class="more-link usa-button lex-morelink lex-pagefeedback-button-fixed lex-button">
  <a href="#js-page-feedback">feedback</a>
</div>
