.path-frontpage {
  .lex-pagefeedback-container {

    ul {
      padding-left: 15px;
    }
  }

  main {
    display: none;
  }

  #block-urbancountycouncilnew {
    padding: 2rem 5%;

    >div {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: scroll;
      min-height: 0;
      background-image: linear-gradient(to right, white, white),
        linear-gradient(to right, white, white),
        linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
        linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
      background-position: left center, right center, left center, right center;
      background-repeat: no-repeat;
      background-color: white;
      background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
      background-attachment: local, local, scroll, scroll;

      @include screens-above(sm) {
        flex-wrap: wrap;
        overflow: visible;
      }

      .paragraph--type--contact-card {
        margin: .7rem;
        clear: none;
        padding-bottom: 1rem !important;
      }
    }

    .council-office {
      margin-left: 10px;
    }

    @include screens-below(sm) {
      .council-office {
        margin: 30px 0;
        text-align: center;
      }
    }
  }

  .lex-region-postscript {
    .paragraph--type--icon-button-with-description {

      @media all and (-ms-high-contrast: none),
      (-ms-high-contrast: active) {
        max-width: 200px;
      }

      margin-top: 0px;
      padding-bottom: 0px !important;

      .icon-desc-button {
        .button-heading {
          font-size: 1.1rem;
          height: 30px;
        }
      }
    }

    div[id^="block-"] {
      h1 {
        margin-left: 12px;
      }

      >h2 {
        line-height: 1.2;
        font-size: 2rem;
        color: color(lex-blue);
        margin-left: 12px;
      }

      .footer-text {
        a {
          padding: 5px 15px;
          text-align: right;
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}

.frontpage-quicklinks {
  background-color: color(light-gray);
}

.quick-link {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: color(med-blue);
  color: white;
  min-height: 40px;
  margin: 1rem auto;
  padding: 0 10px;
  text-wrap: nowrap; // for weird wrap at >1500px


  &:hover {
    background-color: color(yellow);
  }

  &__title {
    flex-grow: 1;
  }

  a {
    color: color(white);
  }
}