.path-frontpage {
  .lex-pagefeedback-container {
    padding: 0 5%;
    ul {
      padding-left: 15px;
    }
  }
  main {
    display: none;;
  }
  div[id^="block-urban"] {
    > div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .paragraph--type--contact-card {
        margin: .7rem;
        clear: none;
        padding-bottom: 1rem !important;
      }
    }
  }
  .lex-region-postscript {
    .paragraph--type--icon-button-with-description {
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        max-width: 200px;
      }
      margin-top: 0px;
      padding-bottom: 0px !important;
      .icon-desc-button {
        width: auto;
        height: auto;
        .row {
          padding: 8px;
          .button-heading {
            margin: 3px 0 0 0;
            font-size: 1.1rem;
          }
        }
      }
    }
    div[id^="block-"] {
      h1 {
        margin-left: 12px;
      }
      > h2 {
        line-height: 1.2;
        font-size: 2rem;
        color: color(lex-blue);
        margin-left: 12px;
      }

      .footer-text {
        a {
          padding: 5px 15px;
          text-align: right;
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}

.frontpage-quicklinks {
  background-color: color(light-gray);
}

.quick-link {
  background-color: color(med-blue);
  color: white;
  display: flex;
  align-items: center;
  min-height: 40px;
  margin: 1rem auto;

  &:hover {
    background-color: color(yellow);
  }

  .row {
    width: 100%;
  }

  a {
    color: color(white);
  }
}
