body {
  &.path-frontpage .lex-hero img {
    @include screens-above(xl) {
      transform: translateY(-20%);
    }
  }

  .lex-hero {
    overflow: hidden;
    position: relative;
    transition: all 500ms ease;

    @include screens-above(lg) {
      max-height: 600px;
    }

    .search-block {
      top: 0 !important;
    }
  }

  .welcome-block,
  .search-block {
    @include rgba-background(color(dark-blue), 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    color: #fff;
    margin: 0 5%;
    padding: 1rem 2rem;
    text-align: center;
    width: 90%;

    @include screens-below(sm) {
      position: initial;
      background-color: rgba(color(dark-blue), 1);
      margin: 0;
      width: 100%;
    }

    h1 {
      color: color(white);
    }

    sup {
      top: 0;
    }


  }

  .search-block {
    top: initial !important;

    &.hide {
      display: none;
    }
  }

  [id^=block-mostpopularsearches] {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    h2,
    a {
      color: color(white);
      font-size: 1rem;
    }

    h2 {
      margin: 0;
      padding-right: 1rem;

      @include screens-below(sm) {
        padding-bottom: 1rem;
        padding-right: 0;
        width: 100%;
      }
    }

    a:hover {
      color: color(yellow);
    }

    ul {
      align-items: center;
      display: flex;
      flex-wrap: wrap;

      @include screens-below(sm) {
        justify-content: space-evenly;
      }

      li {
        padding: 0 1rem;
      }
    }
  }
}
