#block-lookupservices {
  background-color: color(light-gray);
  border-radius: .25rem;
  min-height: 200px;
  padding: 2rem 1rem;
  position: relative;
  top: -40px;
  width: 90%;

  @include screens-below(md){
    top: -10px;
  }

  .lex-find {
    border-right: 1px solid color(med-blue);
    text-align: left;

    @include screens-below(md){
      border-right: none;
      border-bottom: 1px solid color(med-blue);
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  #edit-address {
    &:focus {
      border: 1px solid color(med-blue);
    }
  }

  h3 {
    color: color(med-blue);
    font-weight: 800;
  }

  i.fas {
    color: color(med-blue);
    font-size: 2.0rem;
  }

  h5 {
    color: color(gray);
    font-size: 1.1rem;
    padding-left: 12px;
    padding-top: 8px;
    text-align: left;
  }

  .service-label {
    border-bottom: solid 1px color(med-blue);
    height: 80px;
  }

  .service {
    padding-top: .3rem;
    font-size: .8rem;
    text-align: left;
    span {
      &:first-child {
        font-weight: 600;;
      }
    }

    .lexfind-link {
      font-size: .8rem;
      &:hover {
        color: color(yellow);
      }
    }
  }

  input {
    border-radius: 5px;
    border: 1px solid color(med-blue);
    margin: 0;
    position: relative;
  }

  .instructions {
    @include screens-below(md){
      text-align: left;
    }
  }

  .lexfind-link {
    color: color(med-blue);
    font-weight: 600;
  }
}

.mini-lookup {
  background-color: transparent !important;
}
