<div id="calendar"></div>
<div id="mobileCalendar"></div>
<script>
window.addEventListener( 'load', function(){
  (function($) {
    var today = new Date();
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month, agendaWeek, agendaDay, listWeek',
      },
      editable: false,
      eventsLimit: true,
      events: '/calendar/{{ fc_callback }}',
      defaultDate: '{{ "now"|date("Y-m-d") }}',
      views: {
        month: {
          titleFormat: 'MMMM'
        },
        day: {
          titleFormat: 'dddd, MMMM d'
        }
      }
    });

    $('#mobileCalendar').fullCalendar({
      header: {
        left: 'prev,today,next',
        center: 'title',
        right: ''
      },
      editable: false,
      eventsLimit: true,
      defaultView: 'listWeek',
      events: '/calendar/{{ fc_callback }}',
      defaultDate: '{{ "now"|date("Y-m-d") }}',
    });
  })(jQuery);
});
</script>
