.lex-morelink
  margin: 0
  min-width: 200px
  padding-left: 0
  padding-right: 0
  float: right
  text-transform: capitalize

.lex-button
  display: inline-block
  margin-bottom: 0.5em

  a
    display: block
    color: #fff
    text-align: center
    transition: all 0.1s ease-in
    border: 0
    cursor: pointer
    line-height: 1
    padding: 0.75em 1.5em
    background: $color-primary-4
    text-decoration: none

    &:hover
      text-decoration: none
      background: $color-primary-5


  @media (max-width: $screen-phone-max - 100px)
    width: 100%

input[type='submit']
  color: #fff
  text-align: center
  transition: all 0.25s ease-in
  border: 0
  cursor: pointer
  line-height: 1
  display: block
  padding: 0.5em 1em
  background: $color-primary-4
  text-decoration: none

  &:hover
    text-decoration: none
    background: $color-primary-5

a.lex-calltoaction
  display: inline-block
  color: #fff
  text-align: left
  // transition: all 0.25s ease-in
  border: 0
  cursor: pointer
  line-height: 1
  padding: 0.5em 1em
  background: $color-primary-4
  text-decoration: none
  min-width: 15em

  &:visited
    color: #fff

  &:hover
    text-decoration: none

  &:after
    display: inline
    font-family: FontAwesome
    margin-left: 1em
    content: "\f054"
    float: right

  @media (max-width: $screen-phone-max)
    &:not(.urban-council)
      width: 100%
      display: block

a.lex-social-link
  &:before
    font-family: FontAwesome
    float: left
    width: 1em
    margin-right: 0.5em
    size: 1.5em

.lex-region-content .lex-margin-top-sm
  margin-top: 0.5em

