<h4>{{ label }}{% if items|length > 1 %}s{% endif %}</h4>
{% if items|length < 2 %}
<p>{{ items[0].content }}</p>
{% else %}
<ul>
  {% for item in items %}
    <li>{{ item.content }}</li>
  {% endfor %}
</ul>
{% endif %}
