
<div class="calendars-container row">
  <div id="main-calendar" class="col-md-8">
    <div class="mobile-switch row">
      <div class="month-switch col-6">
        Month
      </div>
      <div class="list-switch col-6">
        List
      </div>
    </div>
    <div id="filters" class="row">
      <div class="filter-container main-filter col-6">
        <label class="filter-label" for="calendar-filter">Filter calendar by department</label>
        </br>
        <select id="calendar-filter">
          <option value="default">Unfiltered</option>
        </select>
      </div>
      <div class="filter-container secondary-filter col-6">
        <label class="filter-label" for="page-filter">Filter calendar by page or program</label>
        </br>
        <select id="page-filter">
          <option value="default">Unfiltered</option>
        </select>
      </div>
    </div>
    <div id="calendar-container" class="col">
      <div class="row">
        <div id="calendar"></div>
      </div>
      <div class="row">
        <div class="calendar-key">
          <span class="calendar-key calendar-bullets fc-day-grid-event fc-event fc-start fc-not-end event-dot">&#8226;</span>Event
          <span class="calendar-key calendar-bullets fc-day-grid-event fc-event fc-start fc-not-end meeting-dot">&#8226;</span>Meeting
        </div>
      </div>
    </div>
  </div>
  <div id="sidebar-calendar" class="col-md-4"></div> 
</div>

<script>
window.addEventListener( 'load', function(){
  (function($) {
     moment.updateLocale('en', {
       meridiem: function(hour, minute, isLowerCase) {
        if ($('button.fc-month-button').hasClass('fc-state-active')) {
          return hour < 12 ? 'a':'p';
        }
        else {
          return hour < 12 ? ' a.m.' : ' p.m.';
        }
       }
     });

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next title',
        center: '',
        right: '',
      },
      editable: false,
      eventsLimit: true,
      defaultView: 'month',
      events: '/calendar/{{ fc_callback }}',
      defaultDate: '{{ "now"|date("Y-m-d") }}',
      views: {
        month: {
          titleFormat: 'MMMM YYYY'
        },
        day: {
          titleFormat: 'dddd, MMMM d'
        }
      },
      eventAfterAllRender: function() {
        var view = $('#calendar').fullCalendar('getView');
        var relatedDepts = [];
        var relatedPages = [];

        var referer = '';

        // reset calendar dots

        $('#calendar').find('.fc-prev-button').addClass('main-prev');
        $('#calendar').find('.fc-next-button').addClass('main-next');
        $('#calendar').find('.fc-event').remove();

        $('#calendar').find('h2').addClass('month-header');
        $('#calendar').find('.fc-left').addClass('toolbar-month');        

        // manage dots
        var events = $('#calendar').fullCalendar('clientEvents');

        deptBuild();

        function deptBuild () {
          events.map((event) => {
            var name = event.title;
            var now = event.start.clone();
            var arrayTest = $.inArray(event.relatedDepartments, relatedDepts);
            var pageTest = $.inArray(event.relatedPages, relatedPages);
            if (arrayTest === -1 && event.relatedDepartments != null && now.month() == view.intervalStart.month()) {
              relatedDepts.push(event.relatedDepartments);
            }
            if (pageTest == -1 && event.relatedPages != null && now.month() == view.intervalStart.month()) {
              relatedPages.push(event.relatedPages);
            }
          })
          relatedDepts.map((dept) => {
            $('#calendar-filter').append(`<option class="dynamicOption" value="${dept}">${dept}</option>`);
          });
          relatedPages.map((page) => {
            $('#page-filter').append(`<option class="dynamicOption" value="${page}">${page}</option>`);
          });
        }

        if(document.referrer.search('/departments/') != -1) {
          referrer = document.referrer.split('/departments/')[1];

          $('.dynamicOption').each( function () {
            var refVal = this.value;
            var refText = refVal.toString();
            
            refText = refText.replace(/ /g, '-');
            refText = refText.replace(/\&/g, '');
            refText = refText.replace(/\,/g, '');
            refText = refText.replace(/\--/g, '-');
            refText = refText.toLowerCase();

            if(refText == referrer) {
              $('#calendar-filter').val(refVal);
            }
         });
         dateBuild();
        }else if (window.location.href.indexOf('?department=') != -1){
          referrer = window.location.href.split('?department=')[1];

          $('.dynamicOption').each( function () {
            var refVal = this.value;
            var refText = refVal.toString();
            
            refText = refText.replace(/ /g, '-');
            refText = refText.replace(/\&/g, '');
            refText = refText.replace(/\,/g, '');
            refText = refText.replace(/\--/g, '-');
            refText = refText.toLowerCase();

            if(refText == referrer) {
              $('#calendar-filter').val(refVal);
            }
          });
          dateBuild();
        }else if (document.referrer.search('/') != -1) {
          referrer = document.referrer.split('/').pop();

          $('.dynamicOption').each( function () {
            var refVal = this.value;
            var refText = refVal.toString();
            
            refText = refText.replace(/ /g, '-');
            refText = refText.replace(/\&/g, '');
            refText = refText.replace(/\,/g, '');
            refText = refText.replace(/\--/g, '-');
            refText = refText.toLowerCase();

            if(refText == referrer) {
              $('#page-filter').val(refVal);
            }
          });
          dateBuild();
        }else {
          dateBuild();
        }

        function dateBuild() {
          events.map((event) => {
            var name = event.title;
            var now = event.start.clone();
            if ($('#calendar-filter').val() == 'default' && $('#page-filter').val() == 'default') {
              if (event.showCal != 'No') {
                var $dot = $(`<span class="calendar-bullets fc-day-grid-event fc-event fc-start fc-not-end month-dot" id="event-${event.id}" title="">&#8226;</span>`);
                $dot.css('color', event.color);
                // append to calendar day
                $('.fc-day-top[data-date="'+ now.format('YYYY-MM-DD') +'"]').append($dot);
                now.add(1, 'days');
              }
            }else if (event.relatedDepartments == $('#calendar-filter').val() || event.relatedPages == $('#page-filter').val()) {
                var $dot = $(`<span class="calendar-bullets fc-day-grid-event fc-event fc-start fc-not-end month-dot" id="event-${event.id}" title="">&#8226;</span>`);
                $dot.css('color', event.color);
                // append to calendar day
                $('.fc-day-top[data-date="'+ now.format('YYYY-MM-DD') +'"]').append($dot);
                now.add(1, 'days');
            }
          })
        }
        $('#calendar-filter').change(function() {
          $('#calendar').find('.month-dot').remove();
          dateBuild();
        });
        $('#page-filter').change(function() {
          $('#calendar').find('.month-dot').remove();
          dateBuild();
        });
        $(document).on('click', '.main-prev', function () {
          relatedDepartments = [];
          $('#calendar-filter').find('.dynamicOption').remove()
        });
        $(document).on('click', '.main-next', function () {
          relatedDepartments = [];
          $('#calendar-filter').find('.dynamicOption').remove()
        });
      }
    });

    $('#sidebar-calendar').fullCalendar({
      header: {
        left: 'prev,today,next',
        center: '',
        right: '',
      },
      editable: false,
      eventsLimit: true,
      defaultView: 'listMonth',
      events: '/calendar/{{ fc_callback }}',
      defaultDate: '{{ "now"|date("Y-m-d") }}',
      listDayFormat: 'MMM D',
      eventAfterAllRender: function() {
        var view = $('#sidebar-calendar').fullCalendar('getView');
        var startTime = '';

        $('#sidebar-calendar').find('.fc-prev-button').addClass('side-prev');
        $('#sidebar-calendar').find('.fc-next-button').addClass('side-next');
                
        $('#sidebar-calendar').find('.fc-list-item').remove();
        $('#sidebar-calendar').find('.fc-list-heading-alt').remove();

        $('#sidebar-calendar').find('.fc-widget-header').addClass('row sidebar-header');

        var events = $('#sidebar-calendar').fullCalendar('clientEvents');

        $('.fc-list-heading').each( function () {
          if ($('#calendar-filter').val() == 'default' && $(this).not(':has(.list-event-container)')) {
            {# $(this).css('display', 'none'); #}
          }
        });

        {# $('.fc-widget-header').addClass('row'); #}

        if(document.referrer.search('/departments/') != -1) {
          referrer = document.referrer.split('/departments/')[1];

          $('.dynamicOption').each( function () {
            var refVal = this.value;
            var refText = refVal.toString();
            
            refText = refText.replace(/ /g, '-');
            refText = refText.replace(/\&/g, '');
            refText = refText.replace(/\,/g, '');
            refText = refText.replace(/\--/g, '-');
            refText = refText.toLowerCase();

            if(refText == referrer) {
              $('#calendar-filter').val(refVal);
            }
          });
          listBuild();
        }else if (window.location.href.indexOf('?department=') != -1){
          referrer = window.location.href.split('?department=')[1];

          $('.dynamicOption').each( function () {
            var refVal = this.value;
            var refText = refVal.toString();
            
            refText = refText.replace(/ /g, '-');
            refText = refText.replace(/\&/g, '');
            refText = refText.replace(/\,/g, '');
            refText = refText.replace(/\--/g, '-');
            refText = refText.toLowerCase();

            if(refText == referrer) {
              $('#calendar-filter').val(refVal);
            }
          });
          listBuild();
        }else if (document.referrer.search('/') != -1) {
          referrer = document.referrer.split('/').pop();

          $('.dynamicOption').each( function () {
            var refVal = this.value;
            var refText = refVal.toString();
            
            refText = refText.replace(/ /g, '-');
            refText = refText.replace(/\&/g, '');
            refText = refText.replace(/\,/g, '');
            refText = refText.replace(/\--/g, '-');
            refText = refText.toLowerCase();

            if(refText == referrer) {
              $('#page-filter').val(refVal);
            }
          });
          listBuild();
        }else {
          listBuild();
        }

        function listBuild() {
          events.map((event) => {
            var name = event.title;
            var now = event.start.clone();

            if (event.start.format('h:mm a')=='12:00 p.m.') {
                startTime = 'noon';
            }else if(event.start.format('mm')=='00') {
              startTime = event.start.format('h a')
            }else {
              startTime = event.start.format('h:mm a');
            }

            if ($('#calendar-filter').val() == 'default' && $('#page-filter').val() == 'default') {
              if (event.showCal != 'No') {
                var $listBlock = $('\
                    <div class="list-event-container row" id="list-' + event.id + '">\
                      <a href="' + event.url + '">\
                        <div class="col-12 col-sm-8 col-md-10 fc-view-container-calendar">\
                          <span class="calendar-bullets calendar-bullets-list fc-day-grid-event fc-event fc-start fc-not-end list-dot" style="color:' + event.color +'" title="">&#8226;</span>\
                          <div class="list-text-container">\
                            <span class="list-event-title">' + event.title + '</span>\
                            <div class="list-event-date-group">\
                              <span class="list-event-date">' + event.start.format('dddd, MMM. D, YYYY') + '&nbsp;' + '</span>\
                              <span class="list-event-date">' + startTime + '</span>\
                            </div>\
                            <span class="details-link">Details <i class="fas fa-chevron-right"></i>\
                          </div>\
                        </div>\
                      </a>\
                    </div>');
                $('.fc-list-heading[data-date="'+ now.format('YYYY-MM-DD') +'"]').css('display', 'table-row');
                $('.fc-list-heading[data-date="'+ now.format('YYYY-MM-DD') +'"]').addClass('displayList');
                $('.fc-list-heading[data-date="'+ now.format('YYYY-MM-DD') +'"]').append($listBlock);
              }
            }else if (event.relatedDepartments == $('#calendar-filter').val() || event.relatedPages == $('#page-filter').val()) {
              var $listBlock = $('\
                  <div class="list-event-container" id="list-' + event.id + '">\
                    <a href="' + event.url + '">\
                      <span class="calendar-bullets calendar-bullets-list fc-day-grid-event fc-event fc-start fc-not-end list-dot" style="color:' + event.color +'" title="">&#8226;</span>\
                      <div class="list-text-container">\
                        <span class="list-event-title">' + event.title + '</span>\
                        <div>\
                          <span class="list-event-date">' + event.start.format('dddd, MMM. D, YYYY') + '&nbsp;' + '</span>\
                          <span class="list-event-date">' + startTime + '</span>\
                        </div>\
                        <span class="details-link">Details <i class="fas fa-chevron-right"></i>\
                      </div>\
                    </a>\
                  </div>');
                $('.fc-list-heading[data-date="'+ now.format('YYYY-MM-DD') +'"]').css('display', 'table-row');
                $('.fc-list-heading[data-date="'+ now.format('YYYY-MM-DD') +'"]').addClass('displayList');
                $('.fc-list-heading[data-date="'+ now.format('YYYY-MM-DD') +'"]').append($listBlock);
            }else {
              if ($('.fc-list-heading[data-date="'+ now.format('YYYY-MM-DD') +'"]').css('display', 'table-row')) {
                $('.fc-list-heading[data-date="'+ now.format('YYYY-MM-DD') +'"]').css('display', 'none');
              }
              now.add(1, 'days');
            }
          })
        }
        $('#calendar-filter').change(function() {
          $('#sidebar-calendar').find('.fc-list-heading').removeClass('displayList');
          $('#sidebar-calendar').find('.list-event-container').remove();
          listBuild();
        });
        $('#page-filter').change(function() {
          $('#sidebar-calendar').find('.fc-list-heading').removeClass('displayList');
          $('#sidebar-calendar').find('.list-event-container').remove();
          listBuild();
        });
      }
    });
  })(jQuery);
});
</script>
