<div{{ attributes.setAttribute('id', 'block-urbancountycouncilnew') }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <h2>Urban County Council</h2>
  {{ content }}
  <p class="council-office">
    <a class="lex-calltoaction urban-council" href="/departments/urban-county-council">
      Office of the Urban County Council
    </a>
  </p>
</div>
