{% set links = [
  { title: "Find councilmembers", dest: "/browse/government/council"},
  { title: "Laws & ordinances", dest: "/code-of-ordinances-and-zoning-ordinance"},
  { title: "City departments", dest: "/browse/government/departments"},
  { title: "Boards & commissions", dest: "/browse/government/boards-commissions"},
] %}

<div class="frontpage-quicklinks">
  <div class="row section-padding">
    {% for link in links %}
      <div class="col-xs-12 col-md-6 col-xl-3">
        <a href="{{ link.dest }}">  
          <div class="quick-link rounded">
            <div class="quick-link__icon">
              <i class="fas fa-landmark"></i>
            </div>
            <div class="quick-link__title">
              {{ link.title }}
            </div>
            <div class="quick-link__arrow">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
