<div class="news-container section-padding">
    <h2 class="front-news-header">News</h2>
    {{ content }}
    <div class="more-link lex-button">
      <a href="/news">
          More News
      </a>
  </div>
</div>