<div{{attributes.addClass('row text-left')}}>
  <div class="col-lg-3 col-12 lex-find">
    <h1><i class="fas fa-map-marker-alt"></i>&nbsp;Lex Find</h1>
    <small>Enter an address then select one from the dropdown</small>
    <div>
      {{ content }}
    </div>
  </div>
  <div class="col-lg-9 col-12">
    <div>
      <h3 class="instructions">Enter your address to find information about the following city services:</h3>
    </div>
    <div class="row">
      <div class="col-6 col-lg-3">
        <div class="service-label d-flex flex-row align-items-center">
            <i class="fas fa-trash"></i>
            <h5>Waste Services</h5>
        </div>
        <div class="service">
          <span>Pick up day: </span>
          <span class="trash"></span>
        </div>
        <div class="service">
          <sub>*This day is only for residents who receive city waste collection. Private collection days may differ.</sub>
          <sub>All containers will be collected.</sub>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="service-label d-flex flex-row align-items-center">
            <i class="fas fa-first-aid"></i>
            <h5>Emergency Services</h5>
        </div>
        <div class="service">
          <span>Police sector: </span>
          <span class="police"></span>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="service-label d-flex flex-row align-items-center">
            <i class="fas fa-university"></i>
            <h5>Political Info</h5>
        </div>
        <div class="service">
          <span>Voting precinct: </span>
          <span class="name"></span>
        </div>
        <div class="service">
          <span>Council district: </span>
          <span class="council"></span>
        </div>
        <div class="service">
          <span>Councilmember: </span>
          <span class="counrep"></span>
        </div>
        <div class="service">
          <span>State senator: </span>
          <span class="senrep"></span>
        </div>
        <div class="service">
          <span>State representative: </span>
          <span class="legrep"></span>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <div class="service-label d-flex flex-row align-items-center">
            <i class="fas fa-home"></i>
            <h5>General Location Info</h5>
        </div>
        <div class="service">
          <span>Zipcode: </span>
          <span class="zip"></span>
        </div>
        <div class="service">
          <span>Neighborhood association: </span>
          <span class="neighborhood"></span>
        </div>
        <div class="service">
          <span>Watershed: </span>
          <span class="watershed"></span>
        </div>
        <div class="service">
          <span><a href="/parksmap" class="lexfind-link">Find nearest park</a></span>
        </div>
      </div>
    </div>
  </div>
</div>

