{% extends 'page.html.twig' %}
{% block page_main %}
<main role="main">
  <section class="main browse lex-slab lex-slab-grey city-social-media-accounts" aria-labelledby="city-social-media-accounts-label">
    {{ page.title }}
    {{ page.content }}
  </section>
</main>
{% endblock %}
