.ui-accordion {
    border-radius: 0;
}

.ui-accordion-header-collapsed, .ui-state-default {
    background-color: color(med-blue) !important;
    color: color(white) !important;
    font-size: 1.4rem !important;
    font-family: $font__open_sans !important;
    a {
        color: color(white) !important;
        font-size: 1.4rem !important;
        font-family: $font__open_sans !important;
    }
}

.ui-accordion-header-active {
    background-color: color(lex-blue) !important;
    color: color(yellow) !important;
    font-size: 1.4rem !important;
    font-family: $font__open_sans !important;
    a {
        color: color(yellow) !important;
        font-size: 1.4rem !important;
        font-family: $font__open_sans !important;
    }
}

.ui-accordion-content-active {
    color: black !important;
    background-color: color(white) !important;
    font-family: $font__roboto !important;
    font-size: 1rem !important;

    .accordion-content-heading {
        font-family: $font__open_sans !important;
        font-size: 1.4rem !important;
    }
}


.paragraph--type--accordion-block {
    .ui-icon {
        display: none !important;
    }
    .opened-icon {
        display: none;
    }

    .ui-state-active {
        .opened-icon {
            display: inline-block;
        }
        .closed-icon {
            display: none;
        }
    }

    .ui-accordion-header-collapsed {
        .opened-icon {
            display: none;
        }
        .closed-icon {
            display: inline-block;
        }
    }

}




