
.fc-event {
  width: 8px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  border: none !important;

  .fc-content {
    display: none;
  }
}

.fc-day-number {
  margin-left: 100%;
}

.fc-day-top {
  padding-left: 1.5% !important;
}

.fc-widget-header, .fc-head-container {
  background: none !important;
  border: none !important;
}

.fc-button {
  background: transparent !important;
  color: black !important;
  border: none !important;
  box-shadow: none !important;
}

.fc-list-heading {
  border-bottom: 1px solid color(gray);


  // a:nth-child(even) {
  //   background-color: aquamarine;
  // }


  .list-event-container:nth-child(odd) {
    background-color: lightgray - 2;
  }


  .fc-widget-header {
    height: 100%;
    min-width: 50%;
  }
  .dot-event {
    margin-top: 8px;
  }
}

.details-link {
  font-size: 1.3vw;
  display: none;

  @media (max-width: $calendarDualBreakpoint) {
    font-size: 2vw;
}
}

.list-event-container {
  margin:  0 !important;
  padding: 0;
  display: flex;
    
  // @media (min-width: 768px) {
  //       min-width: 370px;
  //   }

  a {
    // background-color: none;
    width: 100% !important;
    display: inline-block;
  }
  &:hover {
    background-color: color(yellow) !important;
    
    .list-text-container {
      color: white;
    }
    .list-dot {
      background-color: white !important;
      border: none;
    }
    .details-link {
      display: block;
    }
  }
}

.list-text-container {
  width: 90%;
  display: block;
  float: right;
  color: color(dark-blue);
}

.list-event-title, .list-event-date, .list-event-time {
  width: 100%;
  display: block;
}

.list-event-title {
  font-size: 1.6vw;

  @media (max-width: $calendarDualBreakpoint) {
    font-size: 2.2vw;
}
}

.list-event-date {
  font-size: 1.4vw;

  @media (max-width: $calendarDualBreakpoint) {
    font-size: 2vw;
}
}

.list-event-time {
  font-size: .8em;
}

.fc-list-heading-main {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8vw;
  color: color(dark-blue);

  @media (max-width: $calendarDualBreakpoint) {
    font-size: 2.4vw;
}
}

#sidebar-calendar {
  background-color: color(light-gray);

    @media (max-width: $calendarDualBreakpoint) {
        // margin-top: 2em !important;
        height: auto !important;
    }
}

.calendar-container {
  max-height: fit-content;
  margin-bottom: 50px;
  // display: inline-block;
}

.fc-scroller {
  height: 35vh !important;

    @media (max-width: $calendarDualBreakpoint) {
       height: 400px !important;
       max-height: none !important;
    }
}

.mobile-switch {
  display: none;
  width: 100vw;
  margin-left: -5% !important;
  font-size: 1.5em;
  text-align: center;
  line-height: 65px;

  .month-switch {
    color: color(lex-blue);

    &:hover {
      cursor: pointer;
    }
  }

  .list-switch {
    color: color(dark-gray);
    background-color: color(light-gray);

    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: $calendarDualBreakpoint) {
    display: flex;
  }
}

.calendar-key {
    padding-left: 15px;

    .meeting-dot {
        background-color: rgb(81, 164, 124);
    }
}

.placeholder-col {
    @media (max-width: $calendarDualBreakpoint) {
        display: none;
    }
}

.sidecal-col {
    position: absolute !important;
    right: 0;
    top: 0;
    padding-right: 0 !important;

    #sidebar-calendar {
        position: relative;
        max-width: 100%;
    }

    @media (max-width: $calendarDualBreakpoint) {
        position: static !important;

        #sidebar-calendar {
            position: static;
        }
  }
}

.fc-week {
    @media (min-width: 768px) {
        height: 100px !important;
    }
}

#calendar {
  margin-top: 1em !important;
}

#calendar-main {
  .lex-region-content {
    margin-top: 1em;
  }
  padding: 2% !important;

  #block-pagetitle {
      margin-bottom: 0 !important;
      padding-left: 12px !important;
  }
}

.month-dot {
    &:hover {
        cursor: pointer;
    }
}

.displayList {
    display: table-row !important;
}

.calendar-bullets {
  font-size: 4vw;
  background-color: transparent !important;
  line-height: 0.7 !important;
  margin-top: 0px !important;
  width: 0px;
  height: 0px;
  padding-right: 1vw;
  transform: scaleY(0.9);

  @media (max-width: $calendarDualBreakpoint) {
    font-size: 6.5vw;
}

}

.filter-container {
    margin-bottom: 1em;
    white-space: nowrap;
    
    @media (max-width: $calendarDualBreakpoint) {
        margin-top: 1em;
    }

    #calendar-filter, #page-filter {
        border: 1px solid color(gray);
        max-width: 100%;
    }
}

.fc-view-container-calendar {
  padding-left: 0;
  padding-right: 0;
  max-width: 100%
}

.sidebar-header {
  background-color: rgb(158, 158, 158) !important;
  padding-left: 8px !important;
}

