table.directory
  border: 1px solid $lex-dark-blue

  th
    background: $lex-dark-blue
    color: #fff
    font-weight: bold

  tr:nth-child(even) td
    background: $lex-extra-light-blue

  td:nth-child(3)
    white-space: nowrap
