.node-preview-container {
  background: $lex-white;
  a {
    text-decoration: underline;
    color: $lex-blue;
  }
}

/* remove clashes with admin toolbar */
.toolbar {
  a:visited {
    color: $lex-dark-grey;
  }

  ul {
    display: block;
  }

  ul li:before {
    display: none;
  }

  .toolbar-menu li {
    margin: 0;
    &:after {
      content: none;
    }
  }

  .toolbar-lining button {
    margin: 0;
  }
}
