.node-preview-container {
  background: $lex-white;
  a {
    text-decoration: underline;
    color: $lex-blue;
  }
}

/* remove clashes with admin toolbar */
.toolbar {
  a:visited {
    color: $lex-dark-grey;
  }

  ul {
    display: block;
  }

  ul li:before {
    display: none;
  }

  .toolbar-menu li {
    margin: 0;
    &:after {
      content: none;
    }
  }

  .toolbar-lining button {
    margin: 0;
  }
}

/* images embedded in content */
.lex-region-content .align-left {
  padding-right: 1em;
}

.js .dropbutton-multiple .dropbutton-widget {
  padding-right: 3em;
}
.dropbutton-toggle button {
  background-color: $lex-blue;
}
