.ed-main:first-child {
  float: none;
  width: 100%;
  margin: auto;
}

.ed-main {
  .a2a_kit {
    display: none;
  }
}

.ed-help {
  .lex-breadcrumb {
    display: none !important;
  }
}


.econ-hero {
  .lex-hero {
    border-bottom: 25px solid #0558A7;
    .hero-text {
      display: inline;
      position: absolute;
      top: 0;
      left: 10%;
      font-size: 3.5rem;
      max-width: 600px;
      background-color: rgba(0,26,73,0.8);
      color: white;
      padding: 50px;
      line-height: 4rem;
      
      @media screen and (max-width: 900px ) {
        font-size: 1.25rem;
        padding: 10px;
        line-height: auto;
      }
    }
    .centered-hero-text {
      position: absolute;
      bottom: 0;
      text-align: center;
      font-size: 60px;
      left: 0;
      right: 0;
      color: white;
      background-color: rgba(0,26,73,0.8);
      margin: 0 5rem;
      text-align: left;
      padding: 10px 50px;

      @media screen and (max-width: 900px ) {
        font-size: 1.25rem;
        padding: 10px;
        line-height: auto;
      }
    }
  }
}

.econdev-separator {
  color: #3887BA;
  margin-left: 15px;
  margin-right: 20px;
}

// Need to move to correct format after development
.slab--lex-med-blue {
  background-color: #0558A7 !important;
}

.econdev-content {
  main {
    padding: 2% 0;

    .section-padding {
      padding: 1rem 10%;
    }

    .flex-content {
      justify-content: space-evenly;

      @media screen and (max-width: 900px) {
        justify-content: center !important;
      }
    }

    .card-button {
      width: 275px;
    }

    .paragraph--type--paragraphs-page-section{
        div {
            width: 100%;
            overflow: scroll;
        }
    }

    @media screen and (max-width: 900px) {
      iframe {
        height: auto;
      }
    }

    h2 {
      color: #004585;
    }
  }

  .paragraph--type--quote-grid {

    .flex-content {
      justify-content: space-between; 

    }
    .paragraph--type--quote {
      max-width: 200px;

      .quote-heading {
        font-size: 20px;
        color: #004585
      }

      .quote-attribution {
        font-size: 16px;
      }
    }
  }

  .paragraph--type--standalone-link {
    a {
      font-size: 22px;
    }
  }
}

.econ-component {
    padding: 3em 10%;

    @media screen and (max-width: 900px) {
      padding: 10px 5%;
    }

    h2 {
      margin-top: 0;
    }

    div {
      h2 {
        margin-top: 0;
      }
    }
  }

  .contact-block {
    display: inline;
    width: auto;

    @media screen and (max-width: 900px) {
      margin-bottom: 10px;
    }
  }

  .contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      padding: 5%;
    }
  }

  .contact-icon, .contact-text {
    display: inline-block;
  }

  .contact-icon {
    font-size: 45px;
    color: #0558A7;
    vertical-align: top;
    margin-right: 20px;
    min-width: 45px;

    i {
      vertical-align: top;
    }
  }

  .econdev-contact-heading {
    color: #0558A7;
    margin-bottom: 25px;
    margin-top: 20px;

    @media screen and (max-width: 900px) {
        text-align: center;
    }
  }

.econ-section:nth-child(even) {
  background-color: #EFEFEF;
}

.econdev-sitemast {

  header {
    margin-top: 15px;
  }
  #search-icon {
    display: none !important;
  }

  #logo {
    img {
      margin: 10px;
    }

    .econdev-logo {
      margin-left: 22%;
      font-style: italic;
      text-decoration: none;
      color: black;

    }
    }

    .lex-region-sitemast {
      margin-top: 15px;
    }
  }

  @media screen and (max-width: 900px) {
    #block-econdevheaderquicklinks {
      display: none;

      ul {
        overflow: hidden;
      }
    }
  }
  

.ed-help {
  .lex-button {
    a {
      @media screen and (max-width: 900px) {
        padding: 0.5em !important;
      }
    }
  }
}

.econdev-img {
  height: 50px !important;
}
