@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto&display=swap');

// Font Shortcuts
$font__open_sans : 'Open Sans';
$font__roboto : 'Roboto';

html {
  font-size: 16px;
}

body {
  font-family: $font__roboto;
}

.small {
  font-size: .7rem;
}

.uppercase {
  text-transform: uppercase;
}

h1, h2 {
  font-family: $font__open_sans;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3, h4 {
  font-family: $font__open_sans;
  font-size: 1.4rem;
}

a, p {
  font-family: $font__roboto;
  font-size: 1rem;
}

a {
  color: color(med-blue);
  &.dark-bg {
    color: color(white);
  }

  &.light-bg {
    color: color(med-blue);
  }

  &:hover {
    color: color(yellow);
    text-decoration: none;
    border-bottom: 1px solid color(yellow);
  }
}
