body.path-frontpage

  h1,h2,h3,h4,h5,h6
    font-weight: normal
  h2
    text-transform: uppercase
  // Primary Menu (Homepage)
  .lex-region-primary_menu
    background: $color-secondary-1
    @include base_padding

  .lex-taxonomy-list

    >div
      vertical-align: top
      display: inline-block
      margin-right: 3%
      width: 30%

      @media (max-width: $screen-phablet-max)
        width: 45%

      @media (max-width: $screen-phone-max)
        width: auto

    h3
      margin-top: 1em

  @supports (display: flex)
    .lex-taxonomy-list
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      align-items: flex-start

      @media (max-width: $screen-phone-max)
        flex-direction: column nowrap

      >div
        display: block
        margin: 0

  // News & Events (Homepage)
  .lex-region-highlighted

    @include base_clear

    #block-views-block-front-page-news-block-1
      float: left
      width: 63%
      @include base_clear

    #block-views-block-front-page-news-block-1 + div, #block-views-block-front-page-news-block-1 + div + div
      float: right
      width: 33%

    @media (max-width: $screen-tablet-max)
      #block-views-block-front-page-news-block-1
        float: none
        width: 100%

      #block-views-block-front-page-news-block-1 + div, #block-views-block-front-page-news-block-1 + div + div
        float: left
        width: 45%

      #block-views-block-front-page-news-block-1 + div
        margin-right: 5%

    @media (max-width: $screen-phone-max)
      #block-views-block-front-page-news-block-1 + div, #block-views-block-front-page-news-block-1 + div + div
        float: none
        width: 100%
        margin-right: 0
        margin-bottom: 1em

  @media (max-width: $screen-phablet-max) and (min-width: $screen-phablet-min)
    .lex-region-featured_top
      display: flex
      align-items: stretch
      justify-content: space-between

      >nav
        margin-right: $base_gutter * -3



  @supports (display: grid)
    .lex-region-highlighted
      display: grid
      grid-template-columns: 1fr 30%
      grid-column-gap: $base_gutter

      #block-views-block-front-page-news-block-1, #block-views-block-front-page-news-block-1 + div, #block-views-block-front-page-news-block-1 + div + div
        float: none
        width: 100%

      > *
        grid-column: 2
        width: 100%
        float: none
        margin: 0
        padding: 0


      > *:first-child
        position: relative
        grid-column: 1
        grid-row: span 2
        padding-bottom: 2em


        .more-link
          position: absolute
          bottom: 0
          right: 0

      > *:last-child
        align-self: end



      @media (max-width: $screen-tablet-max)
        grid-template-columns: 1fr 1fr

        > *
          grid-column: auto


        > *:first-child
          grid-row: 1
          grid-column: span 2


        > *:last-child
          align-self: stretch

      @media (max-width: $screen-phone-max)
        display: flex
        flex-direction: column

  // Mayor and Urban Council area
  .lex-region-featured_bottom_first
    h2
      margin-top: 0
    h4
      font-size: 1.2em

    >div
      display: inline-block
      vertical-align: top

      &:first-child
        width: auto
        margin-right: 4%

        .lex-image-teaser
          @include img_float_left

          img
            width: 33%
            height: auto

      @media (max-width: $screen-phablet-max)
        display: block
        width: 100%

  @supports (display:flex)
    .lex-region-featured_bottom_first
      display: flex
      justify-content: space-between
      align-items: stretch

      >div
        display: flex
        flex-flow: column nowrap

        &:first-child
          margin: 0
          width: 65%

        &:last-child
          width: 30%

        @media (max-width: $screen-tablet-max)
          &:first-child, &:last-child
            width: 47%
        @media (max-width: $screen-phablet-max)
          &:first-child, &:last-child
            width: auto

      @media (max-width: $screen-phablet-max)
        flex-direction: column

    ul.lex-city-gov-stat-block
      margin: 0

  .lex-card img
    margin: 1em 0 1em auto
