/* formstack */
.fsEmbed {
  &.fsBody {
    padding: 0;
    .fsForm {
      padding: 0;
      max-width: 100%;
    }
  }

  /* overrides wds _inputs */
  input[type="checkbox"],
  input[type="radio"] {
    left: 0;
    font-size: 1em;
  }
}
