body > header
  @include base_padding
  @include base_clear

  border-bottom: 1px solid $color-secondary-3

  >a
    display: block
    background: url(../img/lexington-logo.svg) no-repeat left center
    background-size: auto 90%
    text-indent: -200vw
    overflow: hidden
    height: 4em
    width: 50%
    float: left

    @media (max-width: $screen-phablet-max)
      float: none
      width: 100%
      height: 3em

  nav
    display: table
    width: 30%
    margin: 0 0 0 auto

    ul
      display: table-row

  @media (max-width: $screen-phablet-max)
    padding-top: 0
    padding-bottom: 0
    >section
      display: none

    li
      display: table-cell
      text-align: right

  @include link_hover_underline

@supports(display: flex)
  body > header
    display: flex
    align-items: center
    justify-content: space-between

    &:after
      display: none

    >a
      float: none

    >section
      width: 30%
      margin: 0

      &.lex-region-search_header
        width: 50%


    nav
      display: block
      width: auto

      ul

        display: flex
        justify-content: space-between

      li
        display: block
