body > header

  @include base_padding
  @include base_clear
  border-bottom: 1px solid $color-secondary-3
  display: flex
  justify-content: space-between
  align-items: center
  flex-flow: row nowrap

  .lex-block
    margin-bottom: 0
  a
    text-decoration: none

  > a
    display: block
    background: url(../img/lexington-logo.svg) no-repeat left center
    background-size: auto 90%
    text-indent: -200vw
    overflow: hidden
    height: 4em
    width: 20em

  @media (max-width: $screen-tablet-max)
    padding-top: 0.25em
    padding-bottom: 0.25em

    >a
      float: none
      width: 100%
      height: 3em

  section
    margin: 0 0 0 auto

    &.nonav
      width: 50%
      display: flex
      justify-content: space-between
      align-items: center

      >div:first-child
        width: 80%

      >div:last-child
        width: 20%
        text-align: right

      input, button
        margin-bottom: 0

    @media (max-width: $screen-tablet-max)
      width: auto

    @media (max-width: $screen-phone-max)
      margin-left: 0
  nav
    height: 100%

    &.lex-block
      margin-bottom: 0

  ul
    height: 100%
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center

    li
      margin-left: 2em

  @media (max-width: $screen-tablet-max)
    > a
      width: 15em

    li:not(#google_translate_element)
      display: none

  @media (max-width: 350px)
    > a
      height: 2.5em

#block-lex-lex-header-search-form
  margin-bottom: 0

@media (max-width: $screen-phone-max)
  body:not(.path-frontpage):not(.path-search) > header
    display: flex
    flex-flow: column nowrap
    height: 6em
    position: relative

    #google_translate_element
      position: absolute
      top: 1em
      right: 2.5%

    .lex-search input[type=search]
      width: calc(100% - 2.3em)

    section, section.nonav>div:first-child
      width: 100%

