body.bundle_landing_page
  >header
    position: absolute
    width: 100%
    background: #fff
    z-index: 2

.lex-hero.splash
  height: calc(100vh - 6em)
  background-size: cover
  > img
    display: none

  >div
    padding: 1em $base_gutter
    height: auto
    @include base_clear

  section
    width: 66%
    float: left

    &.lex-region-title
      width: 34%

    &.lex-region-hero > div
      width: 100%

    .usa-width-one-half
      float: left
      width: 50%

  .lex-card-title
    margin-bottom: 0.5em

  a, a:visited
    color: #fff
    text-decoration: none
    font-size: 1.2em
  a:hover
    text-decoration: underline

  @supports (display: flex)
    h1
      margin: 0

    > div
      display: flex
      justify-content: space-between
      align-items: center

    section
      width: auto
      float: none
      &:first-child
        width: 50%

        .usa-width-one-half
          display: flex
          justify-content: space-between

        .lex-card-title
          float: none
          width: 50%

  @media (max-width: $screen-phablet-max)
    padding-top: 1em
    @include base_clear

    a
      font-size: 1em
      font-weight: bold

    > div
      width: 50%
      float: right
      padding-right: $base_gutter / 2
      padding-top: 0
      border: none
      height: calc(100vh - 1em)
      background: rgba($color-primary-5, 0.5)

    section .lex-card-title
      float: none
      width: 100%

    @media (orientation: landscape)
      section:first-child
        position: absolute
        bottom: 0
        left: 0
        height: 10vh
        width: 50%
        background: rgba($color-primary-5, 0.5)
        padding-left: $base_gutter / 2

  @media (max-width: $screen-phablet-max) and (orientation: portrait)

    padding-top: 0
    overflow: hidden
    background-image: none !important
    background-color: $color-primary-5
    > img
      display: block
      height: 50vh
      width: auto
      opacity: 1
    > div
      padding-top: 1em
      display: block
      width: 100%
      height: auto
      background: $color-primary-5

    section:first-child
      width: 100%
      margin-bottom: 1em

    .lex-region-hero
      width: 100%




