*
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  box-sizing: border-box // IE 6 had one thing right at least.
  padding: 0
  margin: 0

html
  font-family: $font-sans
  @media (min-width: $screen-large-min)
    font-size: 1.15vmax

body
  color: $color-secondary-4

  > section, > footer, main
    @include base_padding

nav ul
  list-style: none

a
  color: $color-primary-4

  &:visited
    color: $color-primary-3

p
  line-height: 1.5
  margin-bottom: 1.5em
h1,h2,h3,h4,h5,h6
  font-weight: normal
  margin: 1em 0 0.5em 0

  @include link_hover_underline

h1
  margin: 0

h1, h3, h5
  font-weight: bold

h1
  font-size: 2em
h2
  font-size: 1.8em
h3
  font-size: 1.6em
h4
  font-size: 1.3em
h5
  font-size: 1.2em
h6
  font-size: 1.1em
  font-style: italic

input, button, textarea
  -webkit-appearance: none
  display: block
  font-size: 1em
  border: 1px solid $color-secondary-3
  margin: 0.5em 0 1em
  max-width: 100%

input
  padding: 0.25em 0.5em

label, legend
  font-weight: bold
  margin: 1em 0

button
  padding: 0.25em
  background: #fff

main
  @include base_clear

  display: flex
  justify-content: space-between


  #main-content
    display: none

  img
    max-width: 100%
    height: auto

  .lex-region-sidebar_second
    width: 30%
    margin-left: auto

    h2
      font-weight: bold

    h4
      margin: 0

.lex-aside-list, .usa-unstyled-list
  list-style: none

.align-left
  float: left
  margin: 1em 1em 1em 0
  max-width: 50%

.align-right
  float: right
  margin: 1em 0 1em 1em
  max-width: 50%

// Article listings.
.article
  @include base_clear
  padding-left: 36%

  > div:first-child
    float: left
    width: 51%
    margin: 0 0 0 -56%
  img
    width: 100%
    height: auto
    border: 1px solid $color-secondary-3


  @media (max-width: $screen-phone-max)
    padding: 0
    width: 100%

    >div:first-child
      float: none
      width: 100%
      margin: 0

@media (max-width: $screen-phone-max)
  .align-left, .align-right
    float: none
    width: 100%
    max-width: 100%
    margin: 1em 0

article
  ul
    margin-left: 1em

  li
    line-height: 1.5
    margin-bottom: 1em

  h2
    margin-top: 2em


.lex-region-content
  width: 62%


ul.lex-aside-list
  list-style: none
  line-height: 1.5

.lex-newsarticle-end
  text-align: center
  margin: 1em
hr
  height: 0
  width: 100%
  border: none
  @include base_bottom_rule

img
  display: block

iframe
  max-width: 100%
  margin: 0 auto


address
  font-style: normal
  margin: 1em 0
  span
    display: block

.lex-search
  >div
    width: 100%
  button
    border-left: none
    float: left
    span:first-child
      display: none

  input
    width: calc(100% - 3em)
    float: left
    border-right: none
  #edit-actions
    display: none

.lex-card-fulldate
  margin-bottom: 1em
  font-size: 0.9em

.lex-accordion ul
  list-style: none

.lex-accordion-content
  &[aria-hidden="true"]
    display: none

// Breadcrumbs
.lex-region-secondary_menu
  background: $color-secondary-1
  ol
    list-style: none
    li
      display: inline-block
      &:after
        content: ' / '
      &:last-child:after
        content: ''
  a, a:visited
    color: $color-secondary-4

// Event lists
.lex-event-list
  ol
    list-style: none

  h3
    font-size: 1.3em
    text-transform: uppercase
    font-weight: normal
    @include base_bottom_rule

  h4
    font-size: 1.2em
    margin-bottom: 0

// Google translate
#google_translate_element
  float: right
  .goog-te-gadget-simple
    border: none

    a
      font-family: $font-sans
      font-size: 1rem
      color: $color-primary-4

  img
    display: none

iframe.goog-te-menu-frame
  box-shadow: none
