.fc-state-default
  background: $lex-blue

  &.fc-state-active
    background: $lex-grey
    color: #000

.fc-row .fc-content-skeleton td.fc-past
  background: $lex-grey

.fc-center h2
  margin-top: 0

.fc table
  margin: 0

.fc button
  text-shadow: none !important
.fc .fc-widget-header table
  margin: 0.5em

.fc tr:not(.fc-list-item) a:visited
  color: #fff

#calendar table td.fc-today
  background: lighten($lex-extra-light-blue, 10%)

@media (min-width: 1px)
  .usa-width-two-thirds.lex-calendar-page
    width: 100%
    margin-left: 0

@media (max-width: 767px)
  #calendar
    display: none

  #mobileCalendar
    .fc-left
      width: 100%

      .fc-button-group
        width: 100%
        display: flex
        flex: row nowrap

        button.fc-button
          width: 33%
          float: none

@media (min-width: 768px)
  #mobileCalendar
    display: none

