.fc-state-default
  background: $lex-blue

  &.fc-state-active
    background: $lex-grey
    color: #000

.fc-row .fc-content-skeleton td.fc-past
  background: $lex-grey

.fc-center h2
  margin-top: 0

.fc table
  margin: 0

.fc button
  text-shadow: none !important
.fc .fc-widget-header table
  margin: 0.5em

.fc a:visited
  color: #fff
