body.path-search main
  h3
    font-size: 1.4em
    margin-bottom: 0

  .views-field-url a
    color: $color-quadary
    text-decoration: none
    margin-bottom: 0


  h3.field-content.search-result-title a, .search-result-html
    color: #767676

  .lex-link-literal-search a
    color: #3577ba
