body.path-search main
  h3
    font-size: 1.4em
    margin-bottom: 0

  .views-field-url a
    color: $color-quadary
    text-decoration: none
    margin-bottom: 0


  h3.field-content.search-result-title a, .search-result-html
    color: #767676

  .lex-link-literal-search a
    color: #3577ba

.lex-hero h1.search-hero-title 
  bottom: -15px
  color: white
  font-size: 2.8vw
  margin-left: 40px
  position: absolute
  text-shadow: 4px 4px 10px black

