.slab {
  padding-right: 0 !important;
  padding-left: 0 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@each $name, $color in $colors {
  .slab--#{$name} {
    background-color: $color;
  }
}

.slab--dark-gray {
  color: white;
}

.slab--white {
  color: black !important;
}
