// Avoid overriding external style library classes when possible
// Only style what we own: classes starting with 'lex-'
// h/t https://github.com/18F/web-design-standards-drupal/pull/38/files
.usa-button, .button {
  border-radius: 0;
}

ul, ol {
  margin-bottom: 1em;
}

.button:hover {
  background-color: $lex-light-blue;
}

.lex-search-hero .usa-search input {
  @include media($medium-screen) {
    max-width: calc(100% - #{$usa-btn-medium-width});
  }
}

.usa-sr-only {
  position: absolute;
  left: -999em;
}

.toolbar ul {
  display: block;
}

.toolbar ul li:before {
  display: none;
}

.toolbar ul {
  display: block;
}

.toolbar ul li:before {
  display: none;
}

.lex-alertcontainer-success, .usa-alert-success {
  background-color: $lex-alert-green;
}

.lex-alertcontainer-warning, .usa-alert-warning {
  background-color: $lex-alert-yellow;
}

.lex-alertcontainer-error, .usa-alert-error {
  background-color: $lex-alert-red;
}

.lex-alertcontainer-info, .usa-alert-info {
  background-color: $lex-alert-blue;
}

/* remove clashes with admin toolbar */
.menu-item {
  margin: 0;
  &:after {
    content: none;
  }
}

.toolbar-lining button {
  margin: 0;
}

table {
  min-width: initial;
  td {
    border: 0;
    padding: 1rem;
  }
}
