@import './colors';
@import './typography';
@import './slab';
@import './variables';
@import './regions/footer';
@import './regions/sidebar';
@import './paragraphs';
@import './homepage/hero__homepage';
@import './homepage/lookup_services';
@import './homepage/blocks';
@import './regions/header';
@import './regions/takeover_nav';
@import './regions/landing_page_title';
@import './molecules/icon_button_with_description';
@import './molecules/card_button';
@import './molecules/contact_card';
@import './molecules/event_card';
@import './molecules/news_card';
@import './accordions';
@import './browsernav';
@import './calendar';
@import './search';

.no-scroll {
  overflow: hidden;
}

.row {
 margin: 0;
}

ol, ul, dl {
  margin-bottom: 0;
}

.rounded {
  border-radius: 15px;
}

.lex-region-events {
  background-color: color(light-gray);
  display: inline-block;
}

.lex-events-container {
  min-height: 250px;
  position: relative;
  margin: auto;
}

.section-padding {
  padding: 2rem 5%;
}

.sub-padding {
  padding: 2rem 0;
}

.lex-aside-list {
  .lex-street-address, .p-locality, .lex-card-title {
    color: color(gray);

    &:hover {
      color: color(gray);
    }
  }
}

.lex-region-sidebar {
  #block-eventsblock, #block-meetingsblock {
    padding: 2rem 0 !important;

    .lex-event-list {
      .event-card {
        margin-left: 0 !important;
      }
      .more-link {
        float: left;
      }
    }
  }

  #block-eventsblock {
    margin-bottom: 100%;
  }
}

a.lex-calltoaction {
  &:hover {
    background-color: color(yellow) !important;
  }
}

#block-urbancountycouncilnew {
  p:nth-of-type(2) {
    margin-right: 20%;
    margin-left: .7rem;
  }
}

#block-lex-police-pagetitle {
  padding: 2rem 0 !important;
}

.addtoany--block {
  svg {
    background-color: color(gray);
  }
}