// Variables

// Typography
$font-sans: 'Helvetica Neue', 'Helvetica', 'Source Sans Pro', 'Arial', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 550;

// Color
$lex-alpha-level: 0.75;
$lex-light-grey: #f1f0f0;
$lex-grey: #BFBFBF;
$lex-dark-grey: #585858;
$lex-light-blue: #3787BA;
$lex-blue: #0057A8;
$lex-dark-blue: #001A49;
$lex-gold: #E0B111;
$lex-white: #FFFFFF;
$lex-black: #000000;

// USFWDS overrides
$color-primary: $lex-blue;

body {
  color: $lex-dark-grey;
}

// Import WDS
@import '../assets/_scss/all';

// Typography
h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
  font-weight: $font-weight-regular;
}

.button:hover {
  background-color: $lex-light-blue;
}

.lex-site-header {
  background-image: url('../images/lexington-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  .lex-header-quicklinks {
    width: 100%;
    text-align: right;
  }
}

.lex-site-navbar {
  background-color: rgba($lex-white, $lex-alpha-level);
  height: 100px;
  padding: 25px 0 25px 0;

  .lex-logo {
    height: 50px;
  }
}

.lex-grid-full {
  max-width: 1200px;
  margin: 0 auto;
}

.lex-browsenav {
  h1 {
    font-size: 3rem;
    margin-top: 0;
  }
  .lex-browsenav-list li {
    border-top: none;
  }
  a.lex-current {
    border: none;
    background: $lex-blue;
    color: white;
  }
  .lex-region-primary_menu, .lex-region-secondary_menu {
    border-right: 3px solid $lex-grey;
  }
  .lex-browsenav-link {
    margin: 0;
  }
  .lex-browsenav-description {
    margin-top: 0;
  }
}

.lex-region-breadcrumb {
  background-color: $lex-light-grey;
  padding: 2rem;
  padding-bottom: 4rem;

  .lex-nav-breadcrumbs-item:not(:last-of-type):after {
    content: '/';
  }
}

.lex-horizontal-list li {
  margin: 5px;
  display: inline-block
}

.lex-browsenav-list {
  .lex-browsenav-link a, .lex-browsenav-description {
    padding-left: 1rem;
  }
}

.lex-browsenav-root {
  .lex-browsenav-description {
    display: none;
  }
}

.lex-search-hero-container {
  padding-top: 300px;
  padding-bottom: 100px;

  .lex-search-hero {
    color: white;
    padding: 20px;
    max-width: 50%;
    margin: 0 auto;
    background-color: rgba($lex-dark-blue, $lex-alpha-level);
  }
}

.lex-nav-services {
  background-color: $lex-light-grey;
  padding: 3rem;

  .lex-unstyled-list {
    width: 100%;
  }
}

.lex-nav-toplevel {
  a, a:visited {
    font-size: 2.3rem;
    color: $lex-dark-grey;
  }
  padding-bottom: 0;
  p {
    margin-top: .5rem;
    margin-bottom: 3rem;
  }
}

.lex-nested-grid {
  padding: 0;
}

.lex-promo-title {
  margin-top: 0;
}
