// Variables

// Typography
$font-sans: 'Helvetica Neue', 'Helvetica', 'Source Sans Pro', 'Arial', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 550;

// Color
$lex-alpha-level: 0.75;
$lex-light-grey: #f1f0f0;
$lex-grey: #BFBFBF;
$lex-dark-grey: #585858;
$lex-light-blue: #3787BA;
$lex-blue: #0057A8;
$lex-dark-blue: #001A49;
$lex-gold: #E0B111;
$lex-white: #FFFFFF;
$lex-black: #000000;

// Magic numbers
$lex-section-gutter: 1.7em;

// USFWDS overrides
$color-primary: $lex-blue;

// Import WDS
@import '../assets/_scss/all';
@import './elements/_typography';
@import './components/_browsenav';

body {
  color: $lex-dark-grey;
}

.button:hover {
  background-color: $lex-light-blue;
}


.lex-card-title {
  margin: 0;
  font-weight: $font-weight-regular;

  &.lex-card-title-medium {
    font-size: 1.25em;
  }

  &.lex-card-title-large {
    font-size: 1.5em;
  }

  &.lex-card-title-extralarge {
    font-size: 1.75em;
  }

  &.lex-card-title-heading {
    margin-bottom: .5em;
    text-transform: uppercase;
    @extend .lex-card-title.lex-card-title-extralarge;
  }
}

.lex-card-description {
  margin-top: .5em;
  // the card add bottom margin
  margin-bottom: 0;
}

.lex-site-header {
  background-image: url('../img/lexington-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @include media($large-screen) {
    min-height: 400px;
  }
}

.lex-header-quicklinks {
  display: none;
  width: 100%;
  @include media($medium-screen) {
    display: block;
    text-align: right;
  }
  li {
    padding: 0.3em 0 0.3em 0;
    @include media($medium-screen) {
      display: inline-block;
      padding-right: 2em;
    }
  }
}

.lex-site-navbar {
  background-color: rgba($lex-white, $lex-alpha-level);
  padding-top: 9px;
  padding-bottom: 5px;
  .lex-logo {
    height: 40px;
  }
  @include media($medium-screen) {
    height: 100px;
    .lex-logo {
      height: 50px;
    }
    padding: 25px 0 25px 25px;
  }
  @include media($large-screen) {
    padding: 25px 0 25px 0;
  }
}

.lex-grid-full {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  @include media($large-screen) {
    padding: 0;
  }
}

.lex-section {
  margin-bottom: $lex-section-gutter;
}

// layout components
.lex-slab {
  padding: 0;
  padding-top: $lex-section-gutter;
}

.lex-slab-grey {
  background-color: $lex-light-grey;
}

.lex-region-breadcrumb {
  // todo: why is lex-section not pushing down the slab?
  // padding-bottom: $lex-section-gutter;

  .lex-nav-breadcrumbs-item:not(:last-of-type):after {
    content: '/';
  }
}

.lex-horizontal-list li {
  display: inline-block;
  padding-right: 1em;
}

.lex-search-hero-container {
  padding-top: 50px;
  @include media($large-screen) {
    padding-top: 220px;
    padding-bottom: 100px;
  }
}

.lex-search-hero {
  color: white;
  padding: 1em;
  background-color: rgba($lex-dark-blue, $lex-alpha-level);
  // display: inline-block;

  .lex-card-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  @include media($large-screen) {
    width: 40%;
    margin: 0 auto;
  }
  .lex-search-submit {
    // todo: figure out why broken with media mixin
    @media screen and (max-width: $medium-screen) {
      @include sr-only;
    }
  }
}
