{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven_form_node_form_alter()
 */
#}
<div class="layout-node-form clearfix">
  <div class="layout-region layout-region-node-main">
    {{ form|without('advanced', 'actions') }}
  </div>
  <div class="layout-region layout-region-node-secondary">
    <div class="lex-content-guidelines-container">
      <h2>Content resources</h2>
      <ol>
        <li>Remember to use plain language</li>
        <li>Use <a href="http://www.hemingwayapp.com/">Hemingway Editor</a> to keep content at an 8th grade reading level</li>
        <li><a href="https://lfucg.github.io/content-guide/">City of Lexington Content Guide</a></li>
      </ol>
    </div>
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-node-footer">
    {{ form.actions }}
  </div>
</div>
