{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven_form_node_form_alter()
 */
#}
<div class="layout-node-form clearfix">
  <div class="layout-region layout-region-node-main">
    {{ form|without('field_lex_site_nav', 'field_office_to_contact', 'actions') }}
  </div>
  <div class="layout-region layout-region-node-secondary">
    {% include '@lex_admin/includes/content-guidelines.html.twig' %}
    {{ form.field_lex_site_nav }}
    {{ form.field_office_to_contact }}
    {{ form.actions }}
  </div>
</div>
