.lex-morelink
  margin: 0
  width: 8em
  padding-left: 0
  padding-right: 0
  float: right
  text-transform: uppercase

.lex-button,
.lex-calltoaction,
  @include base_button
  a, a:visited, a:hover
    color: #fff
    text-decoration: none


input[type='submit']
  @include base_button

.lex-calltoaction:after
  display: inline
  font-family: FontAwesome
  margin-left: 1em
  content: "\f054"

a.lex-social-link
  &:before
    font-family: FontAwesome
    float: left
    width: 1em
    margin-right: 0.5em
    size: 1.5em

.lex-region-content .lex-margin-top-sm
  margin-top: 0.5em

