.lex-morelink {
  margin: 0;
  width: 8em;
  padding-left: 0;
  padding-right: 0;
  float: right;
  text-transform: uppercase;
}

.lex-button,
.lex-submit-drupalprovided {
  font-weight: $font-weight-regular;
  a, a:visited {
    color: white;
  }
}
