.lex-morelink {
  margin: 0;
  width: 8em;
  padding-left: 0;
  padding-right: 0;
  float: right;
  text-transform: uppercase;
}

.lex-button,
.lex-calltoaction,
.lex-submit-drupalprovided {
  font-weight: $font-weight-regular;
  a, a:visited, a:hover, a:visited {
    color: white;
  }
}

.lex-calltoaction {
  /* use extend because the ckeditor styles only allow a single class */
  @extend .usa-button;
  &:after {
    font-family: FontAwesome;
    margin-left: 1em;
    content: "\f054";
  }
}

a.lex-social-link {
  &:before {
    font-family: FontAwesome;
    float: left;
    width: 1em;
    margin-right: 0.5em;
    size: 1.5em;
  }
}
