.lex-aside-list {
  /* based on usa-unstyled-list */
  margin-top: 1em;
  list-style-type: none;

  li:first-of-type {
    margin-top: 0;
  }
  li {
    display: list-item;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }
}
