
h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  font-family: $font-sans;
}

h1, h2 {
  font-weight: $font-weight-medium;
}

h3, h4, h5, h6 {
  font-weight: $font-weight-medium-heavy;
}

ul li {
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

.lex-pagetitle {
  font-size: 2em;
  margin: 0.5em 0;
}

a.lex-font, a, a:visited, a:hover, a:active {
  color: $lex-dark-grey;
}

a:focus {
  box-shadow: none;
}

.lex-font-standout {
  color: $color-primary;
}

.lex-standoutlinks {
  .lex-card-title {
    text-transform: uppercase;
  }
}
