body footer {
  border-top: 10px solid color(light-gray);
  color: color(white);
  padding: 2rem 5%;
  @include screens-below(sm) {
    padding: 0;
  }
  .lex-region-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include screens-below(sm) {
      padding: 2rem 3rem 0;
    }
    nav.contextual-region, nav[role="navigation"] {
      flex: 0 0 18%;
      overflow: hidden;
      @include screens-below(sm) {
        flex: 100%;
      }
      & > ul {
        min-height: 125px;
        @include screens-below(sm) {
          column-count: 1;
          height: auto;
          padding-bottom: 2rem;
        }
      }

    }
  }

  svg {
    height: 75px;
    width: 75px;
    margin: 10px 10px 10px 0px;
    fill: color(light-gray);
    @include screens-below(sm) {
      height: 50px;
      width: 50px;
    }
  }

  ul {
    list-style: none;
    color: color(light-gray);
    li {
      font-size: 1rem;
    }
  }

  .seal-information {
    li:last-child {
      padding-top: 8px;
    }
  }



  a {
    color: color(white);
    &:hover {
      color: color(yellow);
    }
  }

  h2 {
    color: color(yellow);
  }

  .lex-social-links {
    column-count: 5;
    margin-top: 5px;
    font-size: 1.5rem;
    .fa {
      font-size: 1.5rem;
    }
  }

  .footer-bottom {
    display: none;
    @include screens-below(sm) {
      padding: 2rem 2rem 5rem;
      margin-top: 2rem;
      font-size: .7rem;
      display: block;
    }
  }
}
