body header {
  height: 120px;
  background: white;

  .sticky-top {
    z-index: 500;
    padding-left: 5%;
    .logo-container {
      padding-left: 0;
    }
  }

  #logo {
    img {
      margin: 15px 0;
      height: 50px;
      max-width: max-content;
      @include screens-below(sm) {
        margin: 20px 0;
        height: 40px;
      }
    }
  }

  #block-lex-home-headerquicklinks,
  #block-lex-police-headerquicklinks,
  #block-headerquicklinks,
  #block-lex-headerquicklinks {
    padding-right: 5%;
    text-align: right;
    display: flex;
    height: 40px;
    justify-content: flex-end;
    ul {
      li {
        display: inline-block;
        line-height: 40px;
        a {
          font-size: .8rem;
          &:hover {
            font-weight: 600;
          }
        }
      }
    }
  }

  .navbar-button {
    padding-right: 5%;
  }
  #search-icon.open {
    color: color(yellow);

    .fa-search {
      display: none;
    }

    .fa-times {
      display: block;
    }
  }
  #nav-icon, #search-icon {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    position: relative;
    margin-left: 12px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    width: 60px;
    z-index: 8;
    
    &:hover:not(.open) {
      background-color: color(light-gray);
    }

    i {
      position: relative;
      top: 18px;
      font-size: 1.7rem;
      left: -17px;
    }

    span.hamburger-line {
        display: block;
        background: color(gray);
        border-radius: 10px;
        height: 3px;
        left: 25%;
        position: absolute;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
        width: 50%;
        &:nth-child(1) {
          top: 20px;
        }

        &:nth-child(2),
        &:nth-child(3) {
          top: 30px;
        }

        &:nth-child(4) {
          top: 40px;
        }
    }

    .menu-label {
      margin: auto;
      width: 100%;
      display: block;
      text-align: center;
      font-size: 0.6rem;
      top: 50px;
      position: relative;
    }

    &.open {
      background-color: color(dark-blue);
      span {
        background-color: color(yellow);
        &:nth-child(1) {
            top: 12px;
            width: 0%;
            left: 50%;
        }

        &:nth-child(2) {
            transform: rotate(45deg);
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
        }

        &:nth-child(4) {
            top: 12px;
            width: 0%;
            left: 50%;
        }
      }
    }

  }
}

#search-icon {
  display: flex !important;
  align-items: center;

  img {
    height: 60px;
  }
}
.search-lines {
    display: none;
  }

#search-icon.open {
  img {
    display: none;
  }
  .search-lines {
    display: block;
  }
}

#block-lex-police-pagetitle {
  padding-left: 0 !important;
}
