#takeoverNav {
  @include rgba-background(color(lex-blue), 0.9);
  height: 100%;
  overflow: hidden;
  position: fixed;
  right: -40%;
  transition: all 1000ms;
  width: 40%;
  z-index: 1000;
  @include screens-below(sm) {
    width: 100%;
    right: -100%;
  }
}
div.fade {
  @include rgba-background(#000, 0.5);
  position: fixed;
  width: 100vw;
  z-index: 50;
  opacity: 0;
  left: 0;
  height: 0;
  &.show {
    opacity: 100;
    height: 100vh;
  }
}

#takeoverNav.show{
  overflow: scroll;
  padding-bottom: 200px;
  right: 0;
}

.navigation--top-level {
  color: white;
  display: inline-block;
  padding-left: 1rem;
  width: 100%;
  .level-1 {
    cursor: pointer;
    box-sizing: border-box;
    padding: 15px 15px 5px;
    color: color(white);
    border:  1px solid transparent;
    &:hover {
      border: 1px solid color(yellow);
      color: color(yellow) !important;
      transition: all .5s ease;
      h3.lex-card-title, p {
        color: color(yellow);
        transition: inherit;
      }
    }
    .lex-card-title, p {
      color: color(white);
    }
  }
  a.main-nav-links {
    text-decoration: none;
  }

}
