body.lex-police
  @media (min-width: $screen-tablet-min)
    background: url(../img/LPD_Badge_Blue_Fade.png) fixed bottom right no-repeat
    background-size: auto 50%

  .views-field-field-top-services a
    display: block
    line-height: 1.5

  .lex-aside-list *
    list-style: none

