@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .esriCTHeaderSearch {
        background-image: url("../images/img2X/search@2X.png") !important;
    }

    .esriCTHelpImg {
        background-image: url("../images/img2X/help@2X.png") !important;
    }

    .esriCTHeaderSearchSelected {
        background-image: url("../images/img2X/searchSelect@2XBlue.png") !important;
    }

    .esriCTTdGeolocation {
        background-image: url("../images/img2X/geoLocation@2x.png") !important;
    }

    .esriCTImgSocialMediaSelected {
        background-image: url("../images/img2X/shareSelect@2XBlue.png") !important;
    }

    .esriCTImgSocialMedia {
        background-image: url("../images/img2X/share@2X.png") !important;
    }

    .esriCTEventsImg {
        background-image: url("../images/img2X/activityPlanner@2x.png") !important;
    }

    .esriCTEventsImgSelected {
        background-image: url("../images/img2X/activityPlanner@2xSelectBlue.png") !important;
    }

    .esriCTFacebook {
        background-image: url("../images/img2X/imgFacebook@2xBlue.png") !important;
    }

    .esriCTTwitter {
        background-image: url("../images/img2X/imgTwitter@2xBlue.png") !important;
    }

    .esriCTEmail {
        background-image: url("../images/img2X/imgEmail@2xBlue.png") !important;
    }

    .esriCTEmbedding {
        background-image: url('../images/img2X/embedding@2x-select.png') !important;
    }
}

@media screen and (max-width: 1024px) {
    .esriCTHeaderSearch {
        background-image: url("../images/img44x44/search.png") !important;
    }

    .esriCTHelpImg {
        background-image: url("../images/img44x44/Help.png") !important;
    }

    .esriCTHeaderSearchSelected {
        background-image: url("../images/img44x44/searchSelectBlue.png") !important;
    }

    .esriCTTdGeolocation {
        background-image: url("../images/img44x44/imgGeolocation.png") !important;
    }

    .esriCTImgSocialMediaSelected {
        background-image: url("../images/img44x44/imgSocialMediaSelectBlue.png") !important;
    }

    .esriCTImgSocialMedia {
        background-image: url("../images/img44x44/imgSocialMedia.png") !important;
    }

    .esriCTEventsImg {
        background-image: url("../images/img44x44/activityPlanner.png") !important;
    }

    .esriCTEventsImgSelected {
        background-image: url("../images/img44x44/activityPlannerSelectBlue.png") !important;
    }

    .esriCTFacebook {
        background-image: url("../images/img44x44/imgFacebookBlue.png") !important;
    }

    .esriCTTwitter {
        background-image: url("../images/img44x44/imgTwitterBlue.png") !important;
    }

    .esriCTEmail {
        background-image: url("../images/img44x44/imgEmailBlue.png") !important;
    }

    .esriCTEmbedding {
        background-image: url('../images/img44x44/embeddingBlue.png') !important;
    }
}

/*main browser theme*/

.esriCTHeaderSearch {
    background-image: url("../images/img24x24/search24.png");
}

.esriCTHelpImg {
    background-image: url("../images/img24x24/Help24.png");
}

.esriCTHeaderSearchSelected {
    background-image: url("../images/img24x24/searchSelectBlue24.png");
}

.esriCTTdGeolocation {
    background-image: url("../images/img24x24/imgGeolocation24.png");
}

.esriCTImgSocialMediaSelected {
    background-image: url("../images/img24x24/imgSocialMediaSelectBlue24.png");
}

.esriCTImgSocialMedia {
    background-image: url("../images/img24x24/imgSocialMedia24.png");
}

.esriCTEventsImg {
    background-image: url("../images/img24x24/activityPlannerGray24.png");
}

.esriCTEventsImgSelected {
    background-image: url("../images/img24x24/activityPlannerBlue24.png");
}

.esriCTSearchIcon {
    background-image: url("../images/searchBlue.png") !important;
}

.esriCTFacebook {
    background-image: url("../images/img24x24/imgFacebookBlue24.png");
}

.esriCTTwitter {
    background-image: url("../images/img24x24/imgTwitterBlue24.png");
}

.esriCTEmail {
    background-image: url("../images/img24x24/imgEmailBlue24.png");
}

.esriCTEmbedding {
    background-image: url('../images/img24x24/embeddingBlue24.png');
}

.HomeButton .home, .HomeButton .home:hover {
    background-image: url('../images/home.png');
    background-color: #007ac2;
    border: #fff solid 0 !important;
}

.esriCTMainLoader {
    background-image: url('../images/loader.gif');
}

.esriCTLocateSearchIcon {
    background-image: url("../images/searchBlue.png") !important;
}

.esriCTSelectionIcon {
    background-image: url('../images/searchBlue.png');
}

.esriCTInfoAddToListText {
    color: #007ac2;
}

/* Application Header */
.galleryTab, .commentsTab, .esriCTTabs div.esriCTGetDir, .esriCTTabs div.esriCTInfoClose, .esriCTApplicationHeader {
    border-color: #007ac2;
}

.esriCTApplicationHeader, .esriCTRightTab {
    background: #fff;
}

.esriCTApplicationHeaderTextTD, .esriCTResultColor {
    color: #007AC2;
}

.esriCTTxtAddress {
    border: #DFDFDF solid 1px;
}

input {
    color: #808080 !important;
}

.esriCTContentBottomBorder {
    border-bottom: 1px solid #b4b4b4;
    color: #808080 !important;
}

.esriCTColorChange {
    color: #000 !important;
}

.esriCTBlurColorChange {
    color: Gray;
}

.esriCTSearchClose {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}

.esriCTActivityPanelSelected, .esriCTEventsPanelSelected, .esriCTDivSearchPanel {
    color: #007AC2;
}

.esriCTActivityPanel, .esriCTSearchPanelSelected, .esriCTEventsPanel {
    border-color: #007AC2;
    color: #007AC2;
}

.esriCTActivityPanel, .esriCTSearchPanel, .esriCTEventsPanelSelected {
    color: #007AC2;
}

.esriCTTickMark {
    color: #007AC2;
}

.esriCTUtilityImgSelect {
    border: 1px solid #007AC2;
    background: #007AC2;
}

.esriCTDivAppHolder, .esriCTDivShareContainer, .esriCTDivActivityAppHolder {
    background-color: #fff;
    border-right: 1px solid #007ac2;
    border-left: 1px solid #007ac2;
    border-bottom: 1px solid #007ac2;
}

.esriCTTxtShare {
    border: 1px solid #007AC2;
}

.esriCTShareBorder {
    border-bottom: none !important;
}

.esriSimpleSliderDecrementButton, .esriSimpleSliderIncrementButton {
    background-color: #007ac2 !important;
    border: #fff solid 0 !important;
}

.esriSimpleSlider {
    background-color: transparent !important;
    color: #ffffff !important;
    border: #fff solid 0 !important;
}

.esriCTDivSearchContent {
    color: #808080 !important;
}

/* End of Activity Panel */

/*splash Screen*/

.esriCTCustomButton {
    background: #007ac2;
}

/* End of splash Screen */

/* CSS for styling corners*/

.esriCTBoxShadow {
    border: 2px solid #007AC2;
}

.scrollbar_handle {
    background-color: #C0C0C0;
}

.esriCTBasemapThumbnail {
    -moz-box-shadow: 0 0 5px #666;
    -webkit-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666;
}

.esriCTDivLegendBoxContent {
    border: 1px solid #007ac2 !important;
}

.esriCTLegendLabel {
    color: #808080;
}

.esriCTLegendBoxInner div {
    color: #464646;
}

/*Start of Infowindow style*/

.esriCTInfoWindow {
    border: #007ac2 solid 1px;
    background: #FFF;
}

.esriCTClose {
    background: url("../images/close.png");
    background-repeat: no-repeat;
}

.esriCTHeaderPanelContent {
    color: #007ac2;
}

.esriCTInfoPanel {
    border-top: 1px #007ac2 solid;
    color: #fff;
}

.esriCTDivTriangle {
    background-image: url("../images/bottomArrowBlue.png");
}

.esriCTImgCalloutArrow {
    background: url("../images/rightArrowBlue.png");
}

.esriCTCalloutText {
    color: #007ac2;
}

.esriCTInfoAddToListIcon {
    background-image: url("../images/addToListBlue.png") !important;
}

.esriCTinfoWindowHyperlink {
    color: #007ac2;
    text-decoration: none;
}
/* Loading indicator Styles */

/*grouped address*/

.esriCTBottomBorder {
    border-bottom: 1px solid #b4b4b4;
}

.esriCTdivToggle {
    color: #808080;
}

.esriCTSpanResult {
    color: #fff;
}

.esriCTtransparentBackground {
    background: rgba(256,256,256,0.70) !important;
    -pie-background: rgba(256,256,256,0.70) !important;
    border-top: 1px solid #007AC2 !important;
}

.esriCTDivSearchResultHolder {
    border: 1px solid #007ac2;
    z-index: 1000;
    position: absolute;
    top: 48px;
    right: 0px;
    width: 360px;
    background: #fff;
    border-top: none;
}

/*legends */
.esriCTLegendChangePositionUp {
    border-bottom: 1px solid #007AC2;
}

.esriCTLegendChangePositionDown {
    border-bottom: 1px solid #007AC2;
}

.esriCTDivLegendBoxContent {
    border: 1px solid #007AC2 !important;
}
/* End of legends */

/*CarouselboxContainer*/
.esriCTBoxContainer {
    border: 1px solid #007ac2;
    background: #fff;
}

.esriCTSpanHeader, .esriCTSpanHeaderInfoWindow {
    color: #007ac2;
}

.esriCTSpanFeatureListContainer {
    color: #808080;
}

.esriCTTxtPodAddress {
    border: #DFDFDF solid 1px;
}

.esriCTInfoText {
    border-bottom: 1px solid #b4b4b4;
    color: #808080;
}

.esriCTUpAndDownArrow {
    background-color: #007AC2;
    border-bottom: 1px solid #007AC2;
}

.esriCTRightArrow, .esriCTLeftArrow {
    background-color: #007AC2 !important;
}

.esriCTSearchResultInfotext {
    border-bottom: 1px solid #b4b4b4;
    color: #808080;
}

.esriCTDivHighlightFacility {
    padding: 10px 25px 10px 0px;
    text-align: justify;
    clear: both;
    cursor: pointer;
    border-bottom: 1px solid #b4b4b4;
    color: #007AC2;
}

.esriCTDivDistance, .esriCTDivDistancePod, .esriCTInfoDivDistance {
    color: #007AC2;
}

.esriCTDivTime {
    color: #007AC2;
}

.esriCTDivPrint {
    background: url("../images/printBlue.png") no-repeat center center !important;
}

.esriCTCarouselAddToListDiv {
    background: url("../images/img24x24/activityPlannerBlue24.png") no-repeat center center !important;
}

.esriCTCarouselUtilitiesHeader {
    color: #007AC2;
}

/*Activity planner*/
.esriCTEventListTabSelected {
    color: #007AC2;
}

.esriCTEventListTab {
    border-bottom: 1px solid #007AC2;
    color: #007AC2;
    border-right: 1px solid #FAFAFA;
    border-left: 1px solid #007AC2;
}

.esriCTEventTabSelected {
    color: #007AC2;
    border-left: 1px solid #FAFAFA;
    border-right: 1px solid #fff;
}

.esriCTEventTab {
    border-bottom: 1px solid #007AC2;
    color: #007AC2;
    border-right: 1px solid #007AC2;
    border-left: 1px solid #FAFAFA;
}

.esriCTMyListHeaderText {
    color: #007AC2;
}

.esriCTHeaderMyListRight {
    color: #007AC2;
}

.esriCTMyListRight {
    color: #007AC2;
}

.esriCTMyListText {
    color: #007AC2;
}

.esriCTEventPlannerRight {
    color: #007AC2;
}

.esriCTEventPlannerText {
    color: #007AC2;
}

.esriCTBottomGo {
    background-image: url("../images/searchBlue.png") !important;
}

.esriCTAddEventList {
    background-image: url("../images/addActivityListBlue.png") !important;
}

.esriCTDirectionEventList {
    background-image: url("../images/direction.png") !important;
}

.esriCTDeleteEventList {
    background-image: url("../images/deleteBlue.png") !important;
}

.esriCTEventPlannerAddlist {
    background: url("../images/img24x24/activityPlannerBlue24.png") no-repeat center center !important;
}

.esriCTImgOrderByDateDown {
    background-image: url("../images/dateArrowDownBlue.png");
}

.esriCTImgOrderByDateUp {
    background-image: url("../images/dateArrowUpBlue.png");
}

.esriCTInfoBackButton, .esriCTInfoSubmitButton, .esriCTInfoPostButton {
    background: #007ac2;
    color: #fff;
}

.esriCTEventListTabSelected {
    color: #007ac2;
}

@media screen and (max-width:767px) {
    .esriCTInfoSubmitButton, .esriCTInfoPostButton, .esriCTInfoBackButton, .esriCTCloseDivMobile {
        color: #007ac2;
    }
}
/*End of Activity planner*/

/* Info window */

.esriCTTabs div.esriCTImageTab {
    color: #007ac2;
}

.esriCTTabs div.esriCTInfoSelectedTab {
    background: #007ac2;
}

.esriCTTabs div {
    color: #007ac2;
}

.esriCTImageTab {
    color: #007AC2;
    background: url("../images/direction.png");
}

.esriCTImageTabSelected {
    color: #007AC2;
    background: url("../images/directionSelected.png");
}

.esriCTActivitySearchGoButton {
    background: none repeat scroll 0% 0% #007AC2;
}

.esriCTActivityHeadText {
    color: #007AC2;
}

.esriCTInfoAddToListIcon {
    background-image: url("../images/addToListBlue.png") !important;
}

.esriCTInfoAddToListText {
    color: #007AC2;
}

.esriCTDivActivityAppContainer {
    border: 1px solid #007AC2;
}

.esriCTHeaderDirectionAcitivityList {
    background-image: url("../images/direction.png") !important;
}

.esriCTHeaderAddAcitivityList {
    background-image: url("../images/addActivityListBlue.png") !important;
}

.esriCTHeaderPrintAcitivityList {
    background-image: url("../images/printBlue.png") !important;
}

.esriCTTPaginationList {
    color: #007AC2;
}

.esriCTTPaginationPrev {
    float: right;
    background-image: url("../images/leftArrowPageBlue.png");
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.esriCTPaginationNext {
    background-image: url("../images/rightArrowPageBlue.png");
}

/*add infotabImg*/

.esriCTInfoTabImage {
    color: #007AC2;
    background: url("../images/infoBlue.png");
}

.esriCTInfoTabImageSelect {
    color: #007AC2;
    background: url("../images/infoSelect.png");
}

.esriCTGalleryTabImage {
    color: #007AC2;
    background: url("../images/galleryBlue.png");
}

.esriCTGalleryTabImageSelect {
    color: #007AC2;
    background: url("../images/gallerySelect.png");
}

.esriCTCommentsTabImage {
    color: #007AC2;
    background: url("../images/commentBlue.png");
}

.esriCTCommentsTabImageselect {
    color: #007AC2;
    background: url("../images/commentSelect.png");
}

.addtoListTabImage {
    color: #007AC2;
    background: url("../images/img24x24/activityPlannerBlue24.png");
}

.addtoListTabImageSelect {
    background-color: #007AC2;
    background-image: url("../images/activityPlannerSelect24.png");
}

.esriCTActivityImage img {
    background: #007AC2;
    border: 1px solid #007AC2;
}

.esriCTActivityTextArea {
    color: #007AC2;
    text-align: left;
}

.esriSliderDisplayText
{
    color: #007AC2;
}

.claro .dijitSliderImageHandleH
{
    background-image: url('../images/thumbBlue.png');
}

.esriCTImgButtons {
    background-color: #007AC2;
    border: 1px solid #007AC2;
}

.dijitSliderBumperH, .dijitSliderBarH
{
    background-color: #007AC2;
}

.claro .dijitSlider .dijitSliderProgressBarH, .claro .dijitSlider .dijitSliderLeftBumper
{
    background-color: #007AC2;
}

.dijitReset {
  color: #007AC2;
}

.dijitSliderBumperH, .dijitSliderBarH
{
    height: 3px !important;
    border-color: #fff;
}

.claro .dijitSlider .dijitSliderProgressBarH, .claro .dijitSlider .dijitSliderLeftBumper
{
    height: 3px !important;
    border-color: #fff;
}

.claro .dijitSlider .dijitSliderRemainingBarH, .claro .dijitSlider .dijitSliderRightBumper
{
    border-color: #fff;
    height: 3px !important;
    background-color: #ddd;
}

.colorHr {
    background-color: #007AC2;
}
