<section class="{{ section_class }}">
  {# <img class="img-fluid footer-seal" src="/themes/custom/lex/img/lexington-seal.png" alt="Lexington Seal"> #}
  {% include "@lex/../img/lexington-seal.svg" %}
  <div class="{{ wordmark_class }} seal-information">
    <ul>
      <li>&copy;
        {{ "now"|date("Y") }}
        Lexington-Fayette Urban County Government</li>
      <li>Lexington KY, Horse Capital of the World
        <sup>&#174;</sup>
      </li>
      <li>
        <a class="dark-bg" href="/terms-of-use">Terms of use</a>&nbsp;/&nbsp;
        <a class="dark-bg" href="/terms-of-use">Privacy</a>&nbsp;/&nbsp;
        <a class="dark-bg" href="/terms-of-use">Accessibility</a>&nbsp;/&nbsp;
        <a class="dark-bg" href="https://www.lexingtonky.gov/notice-title-vi">Title VI</a>
      </li>
    </ul>
  </div>
</section>

