{#
  required values:
    phone_number
#}

{%
    set classes = [
      'lex-social-link',
      'fa-phone',
      dark_bg ? 'dark-bg'
    ]
%}

{% set stripped_number = phone_number|replace({ '(': '', ')': '', '-': '', ' ': ''}) %}

<a {{ attributes.addClass(classes).removeClass('lex-region-footer') }} href="tel:{{ stripped_number }}">{{ phone_number }}</a>
