body.path-news
  .main
    min-width: 100%
    min-height: 300px
    a
      color: $color-secondary-4
      &:hover
        text-decoration: none
  .col-sm-8
    display: inline-block
    width: 70%
  .col-sm-4
    display: inline-block
    padding: 0px 25px
    width: 25%
    @media (max-width: 998px)
      padding: 0
      img
        margin-left: 0
        margin-bottom: 10px
  .col-8
    display: flex
    padding: 20px 0
    width: 75%
  .row
    width: 100%
  .container-fluid
    padding: 0px 15px
    width: 100%
  .col-xs-12
    @media (max-width: 998px)
      display: inline-block
      width: 100%
  .created
    font-size: .8rem
    font-style: italic
  h4
    margin: 0
  .lex-region-title
    padding-left: 15px
  .views-exposed-form
    position: absolute
    right: 10px
    width: 25%
    select
      height: 2rem
      font-size: 0.8rem
      max-width: 80%

