.card-button {
    border: 1px solid color(med-blue);
    width: 250px;
     @include screens-above(xxl) {
        width: 400px;
    }
    background-color: color(white);
    color: color(med-blue);
    display: block !important;
    
    .button-heading {
        color: color(med-blue);
        margin: 10px 0 5px;
        min-height: 2.5em;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 1.1em !important;
    }

    img {
        height: auto;
        width: 100%;
    }

    .description {
        div {
            padding-bottom: 10px;
            display: block !important;
            p {
                min-height: 4.5em;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }

    //Keeping this in for now, while working on the image gradient
    // img:before {
    //     display: block;
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     bottom: 0;
    //     transition: height 0.5s ease-out;
    //     background: linear-gradient(to bottom, trasnparent 0%, #E1B111 100%);
    // }

    &:hover {
        background-color: color(yellow);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55) !important;
        color: color(white);
        border: none;

        .button-heading {
            color: color(white);
        }
    }
}