.event-card {
    height: 150px;
    background-color: color(med-blue);
    color: color(white);
    width: 350px;
    margin: 10px;
    float: left;   

    @media (max-width: 768px) {
        width: 100% !important;
        margin: 10px 0;
    }

    .icon-col {
        @media (max-width: 576px) {
            display: none;
        }
    }

    img {
        height: 25px;
        width: 35px;
    }
    .button-heading {
        margin: 0 0 15px 0;
        max-height: 50px;
        color: color(white);

        @media (min-width: 1400px) {
            font-size: 20px !important;
        }
    }
    .row {
        padding-top: 15px;
    }

    .button-heading {
        border-bottom: 1px solid color(white);
        font-size: 1.1em;
        padding-bottom: 10px;
    }

    .description {
        font-size: 1em;

        @media (min-width: 1440px) {
            font-size: 18px;
        }
    }

    .button-icon {
        font-size: 1.6em;
        margin-left: 10px;
    }

    .event-time {
        display: block;
        font-size: .9em;
    }

    .footer-text {
        a {
            color: #ffff;
            font-size: 1em;
            font-family: $font__roboto;
            margin-top: .4em;
            display: block;

            &:hover {
                text-decoration: none !important;
                border-bottom: none !important;
            }
        }
    }

     &:hover {
        background-color: #E1B111;
        max-height: 175px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55) !important;
        
        .row {
            padding: 20px 0 5px;
        }

        .button-heading {
            font-size: 1.2em;

            @media (min-width: 1400px) {
                font-size: 20px !important;
            }
        }

        .button-icon {
                font-size: 1.8em;
        }

        .description {
            font-size: 1.1em;
            div {
                padding-bottom: 15px;
            }

            @media (min-width: 1440px) {
                font-size: 18px !important;
            }
        }

        .button-arrow {
            font-size: 1.1em;
        }
    }
}

.home-events-block {
    h2 {
        line-height: 1.2;
        font-size: 2em;
        color: #004585;
        margin: 0 0 5px 12px;

        @media (max-width: 576px) {
            margin-left: 0 !important;
        }
    }

    .more-link {
        margin: 10px 10px 20px 10px;
        float: left !important;

        @media (max-width: 768px) {
            margin: 10px 0 20px 0;
        }
    }

    @media (min-width: 1440px) {
        padding-left: 2em;
    }
}

.events-block {
    .event-right {
        @media (min-width: 1400px) {
            float: right;
        }

        @media (min-width: 1900px) {
            margin-right: 10%;
        }
    }
}

.meetings-block {
    .event-card {
        background-color: color(green);

        &:hover {
            background-color: color(yellow);
        }
    }
}