.entity-browser-browse-files-form
  .view-content
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: flex-start
    width: auto !important
    height: auto !important

    .grid-sizer, .gutter-sizer
      display: none

    .grid-item
      width: 10em
      position: relative !important
      top: auto !important
      left: auto !important
      right: auto !important
      bottom: auto !important

      display: flex
      flex-flow: column nowrap

      .grid-item-info
        position: static